<!DOCTYPE html>
<html lang="en">
    <head>
        <title>申请免费试用</title>

        <!-- Meta Tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="author" content="Webestica.com" />
        <meta name="description" content="Bootstrap Based Creative Agency Template" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico" />

        <!-- Google Font -->
        <!--	<link rel="preconnect" href="https://fonts.googleapis.com">-->
        <!--  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
        <!--  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" >-->

        <!-- Plugins CSS -->
        <link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css" />

        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/common.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/contact-us.css" />
    </head>

    <body>
        <!-- =======================
Header START -->
        <header id="header" class="navbar-dark navbar-transparent">
            <!-- Logo Nav START -->
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- Logo START -->
                    <div class="logo">
                        <h1>
                            <a class="navbar-brand" href="index.html" title="sharecreators"> sharecreators </a>
                        </h1>
                    </div>
                    <!-- Logo END -->

                    <!-- Responsive navbar toggler -->

                    <!-- Nav right START -->
                    <div style="display: flex">
                        <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse"
                            aria-controls="navbarCollapse"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="d-none d-sm-block">
                            <a href="https://www.sharecreators.com" class="btn btn-link text-white mb-0">英文版</a>
                            <a href="./free.html" class="btn btn-green-light mb-0 mx-2">免费试用</a>
                            <a
                                href="#"
                                class="btn btn-link text-white mb-0"
                                id="wechart_code"
                            >
                                <img src="./assets/images/public/weChat.png" alt="" />
                                <div class="header-wechat-code show">
                                    <img src="./assets/images/public/wechat-code.png" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- Nav right END -->
                </div>
            </nav>

            <!-- Logo Nav END -->
        </header>
        <!-- =======================
Header END -->

        <!-- **************** MAIN CONTENT START **************** -->
        <main class="contact-main">
            <!-- =======================
Hero banner START -->
            <section class="bg-primary position-relative banner">
                <!-- Main navbar START -->
                <div class="collapse navbar-collapse show" id="navbarCollapse"></div>
                <!-- Main navbar END -->
                <!--	main-nav end	-->

                <!--	banner content start	-->
                <div class="container banner-content pt-5 mt-4 banner-text">关于我们</div>
            </section>
            <!-- =======================
Hero banner END -->

            <!-- =======================
Contact START -->
            <section>
                <div class="col-lg-8 mx-auto" style="color: #000;">
                    <p>
                        我们是一家设计咨询和软件开发公司，总部位于美国旧金山湾区，在北京、成都等地设有区域公司，目前
                        团队规模约150人，专注于为全球游戏公司提供高质量的艺术咨询、艺术制作服务和软件服务。
                    </p>
                    <p>
                        我们研发的Drange智能数字资产管理系统和Passion智能项目管理系统.依托于行业领先的AI智能识别和搜
                        索技术、多资源格式高速在线查阅、上下游全流程深度集成以及直观易用轻松上手等优势，已帮助众多企
                        业及团队实现更高效的数字资源管理，优化工作流程从而大幅提升工作效率。
                    </p>
                    <p>
                        我们还为诸多知名游戏公司提供了高质量的艺术咨询和美术制作服务。2020年全球收入排名前五的大逃杀 战争游戏(PUBG
                        moblie GarenaFreeFire、nivesOut,Fortnite和Call of Duty::Mobile),我们深度参与了其
                        中四款游戏的制作，同时帮助多款排名前10的游戏提高了转化率。此外，我们还共同开发了许多屡获殊荣
                        的3A级视频游戏，如暗黑破坏神、战锤、星球大战、使命召唤、权力的游戏、没威P游戏、指环王等，始终
                        站在全球游戏设计的最前沿！
                    </p>
                    <!-- Row END -->
                </div>
            </section>

            <section class="core">
                <div class="type-area position-relative partner">
                    <div class="row">
                        <div class="mb-3">
                            <!-- Title -->
                            <h4 class="mb-3 text-center w-100">核心团队成员</h4>
                        </div>
                    </div>
                    <!-- Row END -->
                    <div id="partner">
                        <div class="row">
                            <div class="col-md-3 mt-5">
                                <div class="core-item shadow">
                                    <img class="core-img" src="./assets/images/about/core-01.jpg" alt="" />
                                </div>
                                <div class="core-name">Ada</div>
                            </div>
                            <div class="col-md-3 mt-5">
                                <div class="core-item shadow">
                                    <img class="core-img" src="./assets/images/about/core-02.jpg" alt="" />
                                </div>
                                <div class="core-name">Bohloul</div>
                            </div>
                            <div class="col-md-3 mt-5">
                                <div class="core-item shadow">
                                    <img class="core-img" src="./assets/images/about/core-03.jpg" alt="" />
                                </div>
                                <div class="core-name">Magdalena</div>
                            </div>
                            <div class="col-md-3 mt-5">
                                <div class="core-item shadow">
                                    <img class="core-img" src="./assets/images/about/core-04.jfif" alt="" />
                                </div>
                                <div class="core-name">Sasha</div>
                            </div>
                            <div class="col-md-3 mt-5">
                                <div class="core-item shadow">
                                    <img class="core-img" src="./assets/images/about/core-05.jpg" alt="" />
                                </div>
                                <div class="core-name">Ali</div>
                            </div>
                            <!-- Row END -->
                            <div class="col-md-3 mt-5">
                                <div class="core-item shadow">
                                    <img class="core-img" src="./assets/images/about/core-06.jpg" alt="" />
                                </div>
                                <div class="core-name">Saeed</div>
                            </div>
                            <div class="col-md-3 mt-5">
                                <div class="core-item shadow">
                                    <img class="core-img" src="./assets/images/about/core-07.jpg" alt="" />
                                </div>
                                <div class="core-name">Luka</div>
                            </div>
                            <div class="col-md-3 mt-5">
                                <div class="core-item shadow">
                                    <img class="core-img" src="./assets/images/about/core-08.png" alt="" />
                                </div>
                                <div class="core-name">Carina</div>
                            </div>
                        </div>
                    </div>
                    <!-- Row END -->
                </div>
            </section>

            <!-- =======================
Contact END -->

            <!-- =======================
Map START -->
            <!-- =======================
Map END -->
        </main>
        <!-- **************** MAIN CONTENT END **************** -->

        <!-- =======================
Footer START  -->
        <footer id="footer" class="bg-black pt-5"></footer>
        <!-- =======================
Footer END  -->

        <!-- Back to top -->
        <div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

        <!-- =======================
JS libraries, plugins and custom scripts -->

        <!-- Bootstrap JS -->
        <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Vendors -->

        <!-- Template Functions -->
        <script src="assets/js/functions.js"></script>

        <script src="./docs/assets/js/jquery-3.6.0.min.js"></script>
        <script>
            $('#navbarCollapse').load('./components/nav.html')
            $('#footer').load('./components/footer.html')
        </script>
    </body>
</html>
