<!DOCTYPE html>
<html lang="en">
    <head>
        <title>技术支持</title>

        <!-- Meta Tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="author" content="Webestica.com" />
        <meta name="description" content="Bootstrap Based Creative Agency Template" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico" />

        <!-- Google Font -->
        <!--	<link rel="preconnect" href="https://fonts.googleapis.com">-->
        <!--  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
        <!--  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" >-->

        <!-- Plugins CSS -->
        <link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css" />

        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/common.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/support.css" />
    </head>

    <body>
        <!-- =======================
Header START -->
        <header id="header" class="navbar-dark navbar-transparent">
            <!-- Logo Nav START -->
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- Logo START -->
                    <div class="logo">
                        <h1>
                            <a class="navbar-brand" href="index.html" title="sharecreators"> sharecreators </a>
                        </h1>
                    </div>
                    <!-- Logo END -->

                    <!-- Responsive navbar toggler -->
                    <button
                        class="navbar-toggler ms-auto"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Nav right START -->
                    <div class="d-none d-sm-block">
                        <a href="https://www.sharecreators.com" class="btn btn-link text-white mb-0">英文版</a>
                        <a href="sign-up.html" class="btn btn-green-light mb-0 mx-2">免费试用</a>
                        <a href="https://www.sharecreators.com" class="btn btn-link text-white mb-0">
                            <img src="./assets/images/public/weChat.png" alt="" />
                        </a>
                    </div>
                    <!-- Nav right END -->
                </div>
            </nav>

            <!-- Logo Nav END -->
        </header>
        <!-- =======================
Header END -->

        <!-- **************** MAIN CONTENT START **************** -->
        <main class="support-main">
            <!-- =======================
Hero banner START -->
            <!-- =======================
Hero banner END -->

            <!-- =======================
Contact START -->
            <section>
                <div class="container">
                    <div class="row g-4">
                        <div class="col-lg-5 ps-lg-3">
                            <div class="row g-4">
                                <div class="col-lg-10">
                                    <div class="shadow p-4 rounded-3 mb-4 recommend">
                                        <!-- Title -->
                                        <div class="par">
                                            如果您想与我们合作，或者对我们的产品和服务有任何意见或建议，欢迎您拨打18628061890（微信同号，办公时间9：00-18：00），或者给我们留言，我们将在24小时内回复您
                                        </div>
                                        <div class="wechat" style="width: 50%; height: 50%; margin: auto">
                                            <img src="./assets/images/public/wechat-code.png" alt="" />
                                            <div style="text-align: center">微信公众号</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <!-- Title -->
                            <h2 class="mb-3">申请免费试用</h2>
                            <!-- Form START -->
                            <form class="row g-3">
                                <div class="col-md-12">
                                    <label for="inputName" class="form-label">联系人姓名*</label>
                                    <input type="text" class="form-control" id="inputName" placeholder="请输入联系人姓名" />
                                </div>
                                <div class="col-md-12">
                                    <label for="inputEmail" class="form-label">公司名称*</label>
                                    <input type="email" class="form-control" id="inputEmail" placeholder="请输入联系人邮箱" />
                                </div>

                                <div class="col-md-12">
                                    <label for="inputPhonenumber" class="form-label">联系电话</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="inputPhonenumber"
                                        placeholder="请输入联系人电话"
                                    />
                                </div>
                                <div class="col-12">
                                    <label for="exampleFormControlTextarea2" class="form-label">留言*</label>
                                    <textarea
                                        class="form-control"
                                        id="exampleFormControlTextarea2"
                                        rows="3"
                                        placeholder="请输入留言"
                                    ></textarea>
                                </div>

                                <div class="col-12">
                                    <!-- Button -->
                                    <button type="submit" class="btn btn-warning mb-0 send-msg-btn">发送</button>
                                </div>
                            </form>
                            <!-- Form END -->
                        </div>
                    </div>
                    <!-- Row END -->
                </div>
            </section>
            <!-- =======================
Contact END -->

            <!-- =======================
Map START -->
            <!-- =======================
Map END -->
        </main>
        <!-- **************** MAIN CONTENT END **************** -->

        <!-- =======================
Footer START  -->
        <footer id="footer" class="bg-black pt-5"></footer>
        <!-- =======================
Footer END  -->

        <!-- Back to top -->
        <div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

        <!-- =======================
JS libraries, plugins and custom scripts -->

        <!-- Bootstrap JS -->
        <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Vendors -->

        <!-- Template Functions -->
        <script src="assets/js/functions.js"></script>
    </body>

    <script src="./docs/assets/js/jquery-3.6.0.min.js"></script>
    <script>
        $('#footer').load('./components/footer.html')
        $('#demo-video').on('click', function () {
            location.href = 'https://www.ixigua.com/home/361072885505245'
        })
    </script>
</html>
