<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Share Creators</title>

        <!-- Meta Tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="author" content="Webestica.com" />
        <meta name="description" content="Bootstrap Based Creative Agency Template" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico" />

        <!-- Plugins CSS -->
        <link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css" />
        <link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css" />
        <link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.min.css" />

        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/common.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/orange.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/fine-arts.css" />
    </head>

    <body>
        <!-- =======================
Header START -->
        <header id="header" class="navbar-dark navbar-transparent">
            <!-- Logo Nav START -->
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- Logo START -->
                    <div class="logo">
                        <h1>
                            <a class="navbar-brand" href="index.html" title="sharecreators"> sharecreators </a>
                        </h1>
                    </div>
                    <!-- Logo END -->

                    <!-- Responsive navbar toggler -->
                    <button
                        class="navbar-toggler ms-auto"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Nav right START -->
                    <div class="d-none d-sm-block">
                        <a href="https://www.sharecreators.com" class="btn btn-link text-white mb-0">英文版</a>
                        <a href="sign-up.html" class="btn btn-green-light mb-0 mx-2">免费试用</a>
                        <a href="https://www.sharecreators.com" class="btn btn-link text-white mb-0">
                            <img src="./assets/images/public/weChat.png" alt="" />
                        </a>
                    </div>
                    <!-- Nav right END -->
                </div>
            </nav>

            <!-- Logo Nav END -->
        </header>
        <!-- =======================
Header END -->

        <!-- **************** MAIN CONTENT START **************** -->
        <main class="orange-main">
            <!-- banner =================== ====
Main banner START -->
            <section id="fine-arts-banner" class="bg-fine-arts position-relative">
                <!-- Main navbar START -->

                <div class="collapse navbar-collapse show" id="navbarCollapse"></div>
                <!-- Main navbar END -->
                <!--	main-nav end	-->

                <div class="row fine-arts-banner">
                    <!-- Tiny slider START -->
                    <div
                        class="tiny-slider-inner"
                        data-autoplay="true"
                        data-edge="0"
                        data-arrow="false"
                        data-dots="false"
                        data-items-xl="1"
                        data-items-md="1"
                        data-loop
                    >
                        <div>
                            <img class="image-gradient-overlay" src="./assets/images/fine-arts/banner01.png" alt="" />
                        </div>

                        <div>
                            <img class="image-gradient-overlay" src="./assets/images/fine-arts/banner02.png" alt="" />
                        </div>
                        <div>
                            <img class="image-gradient-overlay" src="./assets/images/fine-arts/banner03.png" alt="" />
                        </div>
                        <div>
                            <img class="image-gradient-overlay" src="./assets/images/fine-arts/banner04.png" alt="" />
                        </div>
                        <div>
                            <img class="image-gradient-overlay" src="./assets/images/fine-arts/banner05.png" alt="" />
                        </div>
                        <div>
                            <img class="image-gradient-overlay" src="./assets/images/fine-arts/banner06.png" alt="" />
                        </div>
                        <div>
                            <img class="image-gradient-overlay" src="./assets/images/fine-arts/banner07.png" alt="" />
                        </div>
                    </div>
                    <!-- Tiny slider END -->
                </div>
            </section>
            <section class="seal type-area row align-items-center">
                <div class="col-lg-6 container pe-md-6">
                    <div class="seal-title">Share Creators 3A级游戏美术制作 & 咨询</div>
                    <div class="seal-content">
                        我们是一家3A级游戏美术设计和企业管理软件研发公司，总部位于旧金山湾区，在北京、成都等地设有区域公司，目前团队规模约150人，专注于为全球游戏公司提供高品质的艺术咨询和美术制作服务。
                        我们已持续为诸多知名游戏公司提供了高质量的服务。2020年中国手游出海收入排名前 5 名的游戏里，
                        我们参与制作了全部 5 款， 并深度参与其中的 4款游戏的合作与研发， 如万国觉醒的所有核心角色等。
                        同时，我们辅助多款排名前 10 的游戏提升了转化率（《AFK剑与远征》平均提升 11%
                        左右）。我们还参与制作了许多屡获殊荣且在商业上非常成功的顶级IP游戏，包括《暗黑破坏神》，《战锤》，《星球大战》，《使命召唤》，《命运2》，《指环王》，《权力的游戏》等多款游戏的美术制作。
                        我们将继续深耕游戏行业，提高游戏海外发行的转化率和留存率，让您的游戏获得更多玩家的喜爱！
                    </div>
                </div>
                <div class="col-lg-6 right">
                    <a data-glightbox data-gallery="office-tour" href="./assets/video/header-contact-introduce.mp4">
                        <img src="./assets/images/icon/play.png" alt="" />
                    </a>
                </div>
            </section>
            <section class="pain pb-2">
                <div class="type-area">
                    <div class="pain-title">为什么选择我们？</div>
                    <div class="pain-content row">
                        <div class="col-lg-4">
                            <div class="item-title">
                                <div class="img flex-center">
                                    <img src="./assets/images/fine-arts/1.png" alt="" />
                                </div>
                                <span>多区域快速响应 </span>
                            </div>
                            <div class="item-content">
                                我们在全球设有 3
                                个办公室，分别位于旧金山，成都和北京，团队规模持续扩张中。同时，我们拥有庞大的专业艺术家资源和高效的管理团队，能够快速投入工作，回应反馈。
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="item-title">
                                <div class="img flex-center">
                                    <img src="./assets/images/fine-arts/2.png" alt="" />
                                </div>
                                <span>多元化美术服务 </span>
                            </div>
                            <div class="item-content">
                                我们拥有顶尖的专业团队，能够驾驭多种艺术风格。我们的服务涵盖艺术概念设计、美宣图绘制、3D
                                设计制作、 硬表面设计、故事板到动态故事板、动画以及广告设计等等。
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="item-title">
                                <div class="img flex-center">
                                    <img src="./assets/images/fine-arts/3.png" alt="" />
                                </div>
                                <span>业界顶级水准</span>
                            </div>
                            <div class="item-content">
                                我们参与制作了诸多屡获殊荣且在商业上非常成功的IP游戏，产出了众多行业顶级的高质量作品。我们始终站在游戏美术的最前沿，持续高效提升游戏海外发行的转化率和留存率。
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container position-relative partner">
                    <div class="row">
                        <div class="mb-3">
                            <!-- Title -->
                            <h4 class="mb-3 text-center w-100">合作伙伴</h4>
                        </div>
                    </div>
                    <!-- Row END -->
                    <div id="partner"></div>
                    <!-- Row END -->
                </div>
            </section>

            <div class="collections">
                <div class="collections-title flex-center">美术作品集</div>
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
            </div>
            <!-- =======================
Hero banner END -->

            <!-- =======================
welcome start -->

            <!-- =======================
Activity section  END -->
        </main>
        <!-- **************** MAIN CONTENT END **************** -->

        <!-- =======================
Footer START  -->
        <footer class="bg-black pt-5" id="footer"></footer>
        <!-- =======================
Footer END  -->

        <!-- Back to top -->
        <div class="back-top">
            <i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i>
        </div>

        <!-- =======================
JS libraries, plugins and custom scripts -->

        <!-- Bootstrap JS -->
        <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Vendors -->
        <script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
        <script src="assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>
        <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

        <!-- Template Functions -->
        <script src="assets/js/functions.js"></script>
    </body>
    <script src="./docs/assets/js/jquery-3.6.0.min.js"></script>
    <script>
        $('#navbarCollapse').load('./components/nav.html')
        $('#partner').load('./components/partner2.html')
        $('#footer').load('./components/footer.html')
        ;(function () {
            document.querySelector('#fine-arts-banner').style.height =
                document.querySelector('.fine-arts-banner').offsetHeight + 'px'

            const arr = [23, 27, 34, 23, 3]
            const collections = document.querySelector('.collections')
            const left = document.querySelector('.collections .left')
            const center = document.querySelector('.collections .center')
            const right = document.querySelector('.collections .right')
            let timer = null
            arr.forEach((len, index) => {
                for (var i = 0; i < len; i++) {
                    const img = document.createElement('img')
                    img.src = `./assets/images/fine-arts/collections/${index + 1}/${index + 1}-${(i + 1)
                        .toString()
                        .padStart(2, 0)}.jpg`
                    img.classList.add(['round'])
                    img.setAttribute('data-glightbox', '')
                    img.setAttribute('data-gallery', 'portfolio')
                    img.addEventListener('load', function (e) {
                        clearTimeout(timer)
                        let container = left
                        if (center.offsetHeight < container.offsetHeight) {
                            container = center
                        }
                        if (right.offsetHeight < container.offsetHeight) {
                            container = right
                        }
                        container.append(img)
                        timer = setTimeout(() => {
                            window.e.lightBox()
                            let leftH = left.clientHeight,
                                centerH = center.clientHeight,
                                rightH = right.clientHeight

                            collections.style.height = container.clientHeight + 200 + 'px'
                        }, 1000)
                    })
                }
            })
        })()
    </script>
</html>
