<!DOCTYPE html>
<html lang="en">
    <head>
        <title>申请免费试用</title>

        <!-- Meta Tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="author" content="Webestica.com" />
        <meta name="description" content="Bootstrap Based Creative Agency Template" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico" />

        <!-- Google Font -->
        <!--	<link rel="preconnect" href="https://fonts.googleapis.com">-->
        <!--  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
        <!--  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" >-->

        <!-- Plugins CSS -->
        <link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css" />

        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/common.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/contact-us.css" />
    </head>

    <body>
        <!-- =======================
Header START -->
        <header id="header" class="navbar-dark navbar-transparent">
            <!-- Logo Nav START -->
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- Logo START -->
                    <div class="logo">
                        <h1>
                            <a class="navbar-brand" href="index.html" title="sharecreators"> sharecreators </a>
                        </h1>
                    </div>
                    <!-- Logo END -->

                    <!-- Responsive navbar toggler -->

                    <!-- Nav right START -->
                    <div style="display: flex">
                        <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse"
                            aria-controls="navbarCollapse"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="d-none d-sm-block">
                            <a href="https://www.sharecreators.com" class="btn btn-link text-white mb-0">英文版</a>
                            <a href="./free.html" class="btn btn-green-light mb-0 mx-2">免费试用</a>
                            <a href="#" class="btn btn-link text-white mb-0" id="wechart_code">
                                <img src="./assets/images/public/weChat.png" alt="" />
                                <div class="header-wechat-code show">
                                    <img src="./assets/images/public/wechat-code.png" alt="" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- Nav right END -->
                </div>
            </nav>

            <!-- Logo Nav END -->
        </header>
        <!-- =======================
Header END -->

        <!-- **************** MAIN CONTENT START **************** -->
        <main class="contact-main">
            <!-- =======================
Hero banner START -->
            <section class="bg-banner position-relative banner">
                <!-- Main navbar START -->
                <div class="collapse navbar-collapse show" id="navbarCollapse"></div>
                <!-- Main navbar END -->
                <!--	main-nav end	-->

                <!--	banner content start	-->
                <div class="container banner-content pt-8 mt-4 banner-text">申请免费试用</div>
            </section>
            <!-- =======================
Hero banner END -->

            <!-- =======================
Contact START -->
            <section>
                <div class="container">
                    <div class="row g-4">
                        <div class="col-lg-7">
                            <!-- Title -->
                            <h4 class="mb-3">申请免费试用</h4>
                            <!-- Form START -->
                            <form class="row g-3" id="form">
                                <input type="text" style="display: none" name="page_name" value="申请免费试用" />
                                <div class="col-md-6">
                                    <label for="inputName" class="form-label">联系人姓名*</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        data-require="1"
                                        name="user_name"
                                        id="inputName"
                                        placeholder="请输入联系人姓名"
                                    />
                                </div>
                                <div class="col-md-6">
                                    <label for="inputEmail" class="form-label">联系人邮箱*</label>
                                    <input
                                        type="email"
                                        class="form-control"
                                        name="user_email"
                                        data-require="1"
                                        id="inputEmail"
                                        placeholder="请输入联系人邮箱"
                                    />
                                </div>

                                <div class="col-md-6">
                                    <label for="inputPhonenumber" class="form-label">联系人电话*</label>
                                    <input
                                        type="text"
                                        name="user_phone"
                                        data-require="1"
                                        class="form-control"
                                        id="inputPhonenumber"
                                        placeholder="请输入联系人电话"
                                    />
                                </div>
                                <div class="col-md-6">
                                    <label for="inputWechat" class="form-label">联系人微信*</label>
                                    <input
                                        type="text"
                                        name="user_wechat"
                                        data-require="1"
                                        class="form-control"
                                        id="inputWechat"
                                        placeholder="请输入联系人微信"
                                    />
                                </div>

                                <div class="col-12">
                                    <label for="exampleFormControlTextarea2" class="form-label">留言</label>
                                    <textarea
                                        class="form-control"
                                        name="message"
                                        id="exampleFormControlTextarea2"
                                        rows="3"
                                        placeholder="请输入留言"
                                    ></textarea>
                                </div>

                                <div class="col-12">
                                    <!-- Button -->
                                    <button type="submit" class="btn btn-warning mb-0 send-msg-btn">发送申请</button>
                                </div>
                            </form>
                            <!-- Form END -->
                        </div>

                        <div class="col-lg-5 ps-lg-3">
                            <div class="row g-4">
                                <div class="col-lg-10">
                                    <div class="shadow p-4 rounded-3 mb-4 recommend">
                                        <!-- Title -->
                                        <div class="fs-6 mb-3" style="color: #000; font-weight: bold">
                                            即刻开始试用我们的Orange智能 数字资产管理系统吧！
                                        </div>
                                        <div class="par">填写在线申请表格，我们将在24小时内回复您！</div>
                                        <div class="par">
                                            我们很乐意为您提供以下帮助，以加深您对Orange的了解：
                                            <ul>
                                                <li>· 详尽的产品与功能介绍,帮助您快速上手</li>
                                                <li>· 针对所处的行业与业务场景,打造专业的解决方案</li>
                                                <li>· 根据您的团队规模和需求，提供最优的价格方案</li>
                                                <li>· 专业的产品顾问，与您深入沟通需求</li>
                                            </ul>
                                        </div>
                                        <div class="par">
                                            您也可以通过以下方式直接联系我们：
                                            <ul>
                                                <li>· Tel.: 18628061890（微信同号，办公时间9:00-18:00)</li>
                                                <li>· Email: hr@sharecreators.com</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row END -->
                </div>
            </section>
            <!-- =======================
Contact END -->

            <!-- =======================
Map START -->
            <!-- =======================
Map END -->
        </main>
        <!-- **************** MAIN CONTENT END **************** -->

        <!-- =======================
Footer START  -->
        <footer id="footer" class="bg-black pt-5"></footer>
        <!-- =======================
Footer END  -->

        <!-- Back to top -->
        <div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

        <!-- =======================
JS libraries, plugins and custom scripts -->

        <!-- Bootstrap JS -->
        <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Vendors -->

        <!-- Template Functions -->
        <script src="assets/js/functions.js"></script>

        <script src="./docs/assets/js/jquery-3.6.0.min.js"></script>
        <script src="assets/js/email.min.js"></script>
        <script src="assets/js/apiKeys.js"></script>
        <script src="assets/js/common.js"></script>
        <script>
            $('#navbarCollapse').load('./components/nav.html', function(){
                if(isMobile()) {
                    $('#navbarCollapse').removeClass('show')
                }
            })
            $('#footer').load('./components/footer.html')

            const form = document.querySelector('#form')
            form.addEventListener('submit', sendEmail)
        </script>
    </body>
</html>
