<!DOCTYPE html>
<html lang="en">
    <meta>
        <title>Share Creators</title>

        <!-- Meta Tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="author" content="sharecreators" />
        <meta name="description" content="sharecreators，我们是一家设计咨询和软件开发公司，总部位于美国旧金山湾区，在北京、成都等地设有区域公司，目前 团队规模约150人，专注于为全球游戏公司提供高质量的艺术咨询、艺术制作服务和软件服务。" />
        <meta name="Keywords" content="sharecreators,share creators,orange智能数字资产管理系统,智能数字资产管理系统,passion智能项目管理系统,智能项目管理系统,游戏美术,api社区生态,文件管理,视频管理,图片管理," />

        <!-- Favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico" />

        <!-- Plugins CSS -->
        <link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css" />
        <link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css" />
        <link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.min.css" />

        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/common.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/home.css" />
    </head>

    <body>
        <!-- =======================
Header START -->
        <header id="header" class="navbar-dark navbar-transparent">
            <!-- Logo Nav START -->
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- Logo START -->
                    <div class="logo">
                        <h1>
                            <a class="navbar-brand" href="index.html" title="sharecreators"> sharecreators </a>
                        </h1>
                    </div>
                    <!-- Logo END -->

                    <!-- Responsive navbar toggler -->

                    <!-- Nav right START -->
                    <div style="display: flex">
                        <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse"
                            aria-controls="navbarCollapse"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="d-none d-sm-block">
                            <a href="https://www.sharecreators.com" class="btn btn-link text-white mb-0">英文版</a>
                            <a href="./free.html" class="btn btn-green-light mb-0 mx-2">免费试用</a>
                            <a href="#" class="btn btn-link text-white mb-0" id="wechart_code">
                                <img src="./assets/images/public/weChat.png" alt="" />
                                <div class="header-wechat-code show">
                                    <img src="./assets/images/public/wechat-code.png" alt="" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- Nav right END -->
                </div>
            </nav>

            <!-- Logo Nav END -->
        </header>
        <!-- =======================
Header END -->

        <!-- **************** MAIN CONTENT START **************** -->
        <main>
            <!-- banner =======================
Main banner START -->
            <section id="home1" class="bg-primary position-relative">
                <!-- Main navbar START -->

                <div class="collapse navbar-collapse show" id="navbarCollapse"></div>
                <!-- Main navbar END -->
                <!--	main-nav end	-->

                <!--	banner content start	-->
                <div class="type-area banner-content mt-4">
                    <div class="row align-items-center mb-2">
                        <div class="col-lg-5 z-index-9 text-center pe-lg-7">
                            <!-- Title -->
                            <img src="./assets/images/home/tt-text.png" alt="" />
                            <!-- Button -->
                            <div class="mt-6" style="display: flex; justify-content: center">
                                <button type="submit" onclick="goFree()" class="btn btn-warning mb-0 free-btn">免费试用</button>
                            </div>
                        </div>

                        <div class="col-lg-7">
                            <div class="row g-4 video-cover">
                                <a
                                    style="margin: 0"
                                    data-gallery="hero"
                                    data-glightbox
                                    data-gallery="office-tour"
                                    href="./assets/video/header-contact-introduce.mp4"
                                >
                                    <img class="play-btn" src="./assets/images/public/play.png" alt="" />
                                </a>
                                <img class="full-box" src="./assets/images/bg/orange-main.png" alt="" />
                            </div>
                            <!-- RoW END -->
                        </div>
                    </div>
                    <!-- RoW END -->
                </div>
            </section>
            <!-- =======================
Hero banner END -->

            <!-- =======================
welcome start -->
            <section class="container welcome position-relative">
                <h3 class="text-center">欢迎来到Share Creators</h3>
                <p class="text-black px-xxl-10 welcome-content">
                    我们提供高质量的美术咨询和制作服务，并自主研发了Orange智能数字资产管理系统和Passion智能项目管理系统，帮助您智能化管理公司数字资产，高效管理项目。
                    我们将持续产出高质量美术作品，提供专业级美术咨询服务，并致力于帮助不同规模的企业管理数字资源，充分提高数字资产的可用性。
                </p>
            </section>

            <!-- =======================



Service section START -->
            <section class="pt-0">
                <div class="container position-relative service">
                    <div class="row g-4 justify-content-center">
                        <div class="col-md-6 col-xl-3 service-card">
                            <!-- Card START -->
                            <div class="card card-body shadow rounded-4 rounded-bottom-right-0">
                                <div class="context p-2">
                                    <!-- Title -->
                                    <h6>Orange</h6>
                                    <h6 class="mb-3">智能数字资产管理系统</h6>
                                    <!-- Content -->
                                    <p class="card-text">更高效的智能化数字资源管理，充分提高数字资产的可用性</p>
                                </div>

                                <!-- Button link -->
                                <div class="video orange-system bg-center">
                                    <a data-glightbox data-gallery="orange" href="./assets/video/orange-system.mp4">
                                        <img class="btn" src="./assets/images/public/play.png" alt="" />
                                    </a>
                                </div>
                                <div class="learn-more flex-row justify-content-end mt-1">
                                    <a href="./orange.html" class="card-link text-primary fw-bold">查看详情</a>
                                </div>
                            </div>
                            <!-- Card END -->
                        </div>

                        <div class="col-md-6 col-xl-3 service-card">
                            <!-- Card START -->
                            <div class="card card-body shadow rounded-4 rounded-bottom-right-0">
                                <div class="context p-2">
                                    <!-- Title -->
                                    <h6>Passion</h6>
                                    <h6 class="mb-3">智能项目管理系统</h6>
                                    <!-- Content -->
                                    <p class="card-text">一眼洞悉项目全局，项目全流程智能可视化管理</p>
                                </div>

                                <!-- Button link -->
                                <div class="video passion-system bg-center">
                                    <a data-glightbox data-gallery="passion" href="./assets/video/passion-system.mp4">
                                        <img class="btn" src="./assets/images/public/play.png" alt="" />
                                    </a>
                                </div>
                                <div class="learn-more flex-row justify-content-end mt-1">
                                    <a href="./passion.html" class="card-link text-primary fw-bold">查看详情</a>
                                </div>
                            </div>
                            <!-- Card END -->
                        </div>
                        <div class="col-md-6 col-xl-3 service-card">
                            <!-- Card START -->
                            <div class="card card-body shadow rounded-4 rounded-bottom-right-0">
                                <div class="context p-2">
                                    <!-- Title -->
                                    <h6>美术咨询&</h6>
                                    <h6 class="mb-3">美术制作服务</h6>
                                    <!-- Content -->
                                    <p class="card-text">为全球游戏公司提供高品质艺术咨询服务和美术制作服务</p>
                                </div>

                                <!-- Button link -->
                                <div class="video fine-arts-service bg-center">
                                    <!-- <a data-glightbox data-gallery="office-tour" href="./assets/video/fine-arts-service.mp4">
                                        <img class="btn" src="./assets/images/public/play.png" alt="" />
                                    </a> -->
                                </div>
                                <div class="learn-more flex-row justify-content-end mt-1">
                                    <a href="./fine-arts.html" class="card-link text-primary fw-bold">查看详情</a>
                                </div>
                            </div>
                            <!-- Card END -->
                        </div>
                    </div>
                    <!-- Row END -->
                </div>
            </section>
            <!-- =======================
    Service section END -->

            <!-- =======================
Service section START -->
            <section class="advan">
                <div class="container position-relative">
                    <div class="row">
                        <div class="mb-3">
                            <!-- Title -->
                            <h4 class="advan-title text-center w-100">核心优势</h4>
                        </div>
                    </div>
                    <!-- Row END -->

                    <div class="row g-4">
                        <div class="advan-content-item col-md-6 col-xl-3">
                            <!-- Card START -->
                            <div class="rounded-4 rounded-bottom-right-0">
                                <did class="d-flex align-items-center">
                                    <!-- Icon -->
                                    <div class="icon-bg icon-md fs-6 text-primary rounded-3 rounded-bottom-right-0 mb-3">
                                        <img src="./assets/images/home/search.png" alt="" />
                                    </div>
                                    <!-- Title -->
                                    <h6 class="advan-item-title ms-xl-3 mb-3">智能AI搜索</h6>
                                </did>

                                <!-- Content -->
                                <p class="card-text">
                                    AI智能识别解析资源文件，配合强大的人工智能及自定义标签功能，针对海量数据进行智能化识别并提供多样的搜索条件，方便快速搜索到所需要的资源文件
                                </p>
                            </div>
                            <!-- Card END -->
                        </div>

                        <div class="advan-content-item col-md-6 col-xl-3">
                            <!-- Card START -->
                            <div class="rounded-4 rounded-bottom-right-0">
                                <did class="d-flex align-items-center">
                                    <!-- Icon -->
                                    <div class="icon-bg icon-md fs-6 text-primary rounded-3 rounded-bottom-right-0 mb-3">
                                        <img src="./assets/images/home/comment.png" alt="" />
                                    </div>
                                    <!-- Title -->
                                    <h6 class="advan-item-title ms-xl-3 mb-3">实时查阅&评论多种文件</h6>
                                </did>

                                <!-- Content -->
                                <p class="card-text">
                                    全面支持多种资源格式（图片、2D-SPINE、3D、视频、音频、办公文件等）秒级在线查阅 ，
                                    可直接在资源上实现进度查看、审阅
                                </p>
                            </div>
                            <!-- Card END -->
                        </div>

                        <div class="advan-content-item col-md-6 col-xl-3">
                            <!-- Card START -->
                            <div class="rounded-4 rounded-bottom-right-0">
                                <did class="d-flex align-items-center">
                                    <!-- Icon -->
                                    <div class="icon-bg icon-md fs-6 text-primary rounded-3 rounded-bottom-right-0 mb-3">
                                        <img src="./assets/images/home/node.png" alt="" />
                                    </div>
                                    <!-- Title -->
                                    <h6 class="advan-item-title ms-xl-3 mb-3">更高效&安全的资源统一管理</h6>
                                </did>

                                <!-- Content -->
                                <p class="card-text">
                                    工作区域划分(团队区域/个人区域/分享给我空间)、权限控制团队资源、分享权限控制/即时通知等功能，打造更高效及安全的资源统一管
                                </p>
                            </div>
                            <!-- Card END -->
                        </div>

                        <div class="advan-content-item col-md-6 col-xl-3">
                            <!-- Card START -->
                            <div class="rounded-4 rounded-bottom-right-0">
                                <did class="d-flex align-items-center">
                                    <!-- Icon -->
                                    <div class="icon-bg icon-md fs-6 text-primary rounded-3 rounded-bottom-right-0 mb-3">
                                        <img src="./assets/images/home/inte.png" alt="" />
                                    </div>
                                    <!-- Title -->
                                    <h6 class="advan-item-title ms-xl-3 mb-3">上下游全流程深度集成</h6>
                                </did>

                                <!-- Content -->
                                <p class="card-text">
                                    从制作工具 （Photoshop、After Effect、Autodesk、SVN、Perforce代码控制等 ），到游戏引
                                </p>
                            </div>
                            <!-- Card END -->
                        </div>
                    </div>
                    <!-- Row END -->
                </div>
            </section>
            <!-- =======================
partner section END -->

            <section>
                <div class="container position-relative partner">
                    <div class="row">
                        <div class="mb-3">
                            <!-- Title -->
                            <h4 class="mb-4 text-center w-100">业界肯定</h4>
                            <p class="text-center">
                                我们为全球众多顶级公司提供高质量的艺术咨询服务、美术制作服务和数字资源管理服务。
                            </p>
                        </div>
                    </div>
                    <!-- Row END -->
                    <div id="partner"></div>
                    <!-- Row END -->
                </div>
            </section>

            <!-- =======================
    partner section  START -->

            <!-- =======================
Activity section  START -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 text-center mx-auto">
                            <!-- Title -->
                            <h4 class="mb-3">公司动态</h4>
                        </div>
                    </div>
                    <!-- Row END -->

                    <div class="row">
                        <div class="col-12">
                            <!-- Tiny Slider START -->
                            <div class="tiny-slider arrow-round arrow-gray arrow-hover">
                                <div
                                    id="blog-container"
                                    class="tiny-slider-inner my-3"
                                    data-auto-play="false"
                                    data-edge="20"
                                    data-arrow="true"
                                    data-dots="false"
                                    data-items-xl="3"
                                    data-items-md="2"
                                    data-items-sm="1"
                                >
                                    <div class="blog-item">
                                        <div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
                                            <div class="pb-0 img">
                                                <img src="./assets/images/bg/activity.png" alt="" class="article-cover" />
                                            </div>
                                            <div class="card-body pt-0">
                                                <!-- Content -->
                                                <p class="card-text">2022 / 04 / 01</p>
                                                <p class="card-text">
                                                    文章标题示例：游戏出海游戏出海游戏出海 文章标题示例游戏出海游戏出海游戏出海
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Tiny Slider END -->
                        </div>
                    </div>
                    <!-- Row END -->
                </div>
            </section>

            <!-- =======================
Activity section  END -->
        </main>
        <!-- **************** MAIN CONTENT END **************** -->

        <!-- =======================
Footer START  -->
        <footer class="bg-black pt-5" id="footer"></footer>
        <!-- =======================
Footer END  -->

        <!-- Back to top -->
        <div class="back-top">
            <i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i>
        </div>

        <!-- =======================
JS libraries, plugins and custom scripts -->

        <!-- Bootstrap JS -->
        <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Vendors -->
        <script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
        <script src="assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>
        <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

        <!-- Template Functions -->
    </body>
    <script src="./docs/assets/js/jquery-3.6.0.min.js"></script>
    <script src="./assets/js/common.js"></script>
    <script>
        $('#navbarCollapse').load('./components/nav.html', function(){
            if(isMobile()) {
                $('#navbarCollapse').removeClass('show')
            }
        })
        $('#partner').load('./components/partner.html')
        $('#footer').load('./components/footer.html')
        function goFree() {
            location.href = './free.html'
        }
        $('#blog-container').click(function (e) {
            console.log(e.target.getAttribute('data-id'))
            let id = e.target.getAttribute('data-id')
            if (id) location.href = `./blogs/${id}.html`
        })
        ;(function () {
            // const blogs = [
            //     {
            //         id: '1',
            //         coverImg: 'assets/images/blogs/001.png',
            //         title: 'Share Creators公开课来了！后疫情时代，海外手游市场何去何从？',
            //     },
            //     {
            //         id: '2',
            //         coverImg: 'assets/images/blogs/002.png',
            //         title: '后疫情时代，海外手游市场新增用户特征及出海机遇分析',
            //     },
            //     {
            //         id: '3',
            //         coverImg: 'assets/images/blogs/003.png',
            //         title: '游戏出海正当时，突破文化壁垒或成为关键',
            //     },
            //     {
            //         id: '4',
            //         coverImg: 'assets/images/blogs/004.png',
            //         title: '游戏美术大神们如何评价Share Creators智能数字资产管理系统',
            //     },
            //     {
            //         id: '5',
            //         coverImg: 'assets/images/blogs/005.png',
            //         title: 'ShareCreators | 2022年数字资产管理的七大好处',
            //     },
            //     {
            //         id: '6',
            //         coverImg: 'assets/images/blogs/006.png',
            //         title: '从管理中解放！Share Creators带你走进GDC2022！',
            //     },
            //     {
            //         id: '7',
            //         coverImg: 'assets/images/blogs/007.png',
            //         title: '一起来了解ShareCreators的Orange数字资源管理系统',
            //     },
            //     {
            //         id: '8',
            //         coverImg: 'assets/images/blogs/008.png',
            //         title: '认识游戏研发、团队协作的革命性软件工具 Share Creators Orange',
            //     },
            //     {
            //         id: '9',
            //         coverImg: 'assets/images/blogs/009.png',
            //         title: '还在寻找高质量的游戏美术制作服务？',
            //     },
            //     {
            //         id: '10',
            //         coverImg: 'assets/images/blogs/010.png',
            //         title: '认识Orange | 帮助你找到任何东西的企业数字资产管理和远程协作平台',
            //     },
            //     {
            //         id: '11',
            //         coverImg: 'assets/images/blogs/011.png',
            //         title: '期待在GDC2022与您相见！!',
            //     },
            //     {
            //         id: '12',
            //         coverImg: 'assets/images/blogs/012.png',
            //         title: 'Forbes Business | 后疫情时代，企业线上办公时面临的16个挑战（以及如何解决这些问题）',
            //     },
            //     {
            //         id: '13',
            //         coverImg: 'assets/images/blogs/013.png',
            //         title: 'Forbes Business | 后疫情时代，企业如何安全、成功地重新开放业务的 15 种策略',
            //     },
            //     {
            //         id: '14',
            //         coverImg: 'assets/images/blogs/014.png',
            //         title: '一家潜力与实力并存的美术工作室Share Creators，原来做过这么多大IP！还有大神Sasha坐镇！-7.GAME',
            //     },
            //     {
            //         id: '15',
            //         coverImg: 'assets/images/blogs/015.png',
            //         title: 'ShareCreators参与制作全球收入最高的五个手机大逃杀游戏中的四个',
            //     },
            //     {
            //         id: '16',
            //         coverImg: 'assets/images/blogs/016.png',
            //         title: 'ShareCreators | Ratebeer选择ECM来集中资产并启用分销商网络',
            //     },
            //     {
            //         id: '17',
            //         coverImg: 'assets/images/blogs/017.png',
            //         title: 'ShareCreators | 企业内容管理系统（ECM）',
            //     },
            //     {
            //         id: '18',
            //         coverImg: 'assets/images/blogs/018.png',
            //         title: '人力资源数字化如何使组织成功的三个案例',
            //     },
            //     {
            //         id: '19',
            //         coverImg: 'assets/images/blogs/019.png',
            //         title: 'SC手游推荐 | 《猫和老鼠》快来一键找回你的童年! ',
            //     },
            //     {
            //         id: '20',
            //         coverImg: 'assets/images/blogs/020.png',
            //         title: '2022 年 6 大热门信息管理趋势',
            //     },
            // ]
            const websiteBlog = [
                {
                    id: '1',
                    coverImg: 'assets/images/blogs/001.jpg',
                    title: '后疫情时代，海外手游市场新增用户特征及出海机遇分析',
                },
                {
                    id: '2',
                    coverImg: 'assets/images/blogs/002.jpg',
                    title: '国产游戏出海正当时，突破文化壁垒或成为关键',
                },
                {
                    id: '3',
                    coverImg: 'assets/images/blogs/003.jpg',
                    title: '游戏美术大神们如何评价Share Creators智能数字资产管理系统',
                },
                {
                    id: '4',
                    coverImg: 'assets/images/blogs/004.jpg',
                    title: '从管理中解放！Share Creators带你走进GDC2022！',
                },
                {
                    id: '5',
                    coverImg: 'assets/images/blogs/005.jpg',
                    title: 'Share Creators智能数字资源管理系统介绍视频新鲜出炉，与您相约GDC2022',
                },
                {
                    id: '6',
                    coverImg: 'assets/images/blogs/006.jpg',
                    title: '一图看懂为什么Orange+Passion=企业级Google',
                },
                {
                    id: '7',
                    coverImg: 'assets/images/blogs/007.jpg',
                    title: 'ShareCretors参与制作全球收a入最高的五个手机大逃杀游戏中的四个',
                },
                {
                    id: '8',
                    coverImg: 'assets/images/blogs/008.jpg',
                    title: '如何创新和改变世界',
                },
                {
                    id: '9',
                    coverImg: 'assets/images/blogs/009.jpg',
                    title: 'Ratebeer如何选择ECM来集中资产并启用分销商网络',
                },
                {
                    id: '10',
                    coverImg: 'assets/images/blogs/010.jpg',
                    title: '企业如何进行内容管理',
                },
                {
                    id: '11',
                    coverImg: 'assets/images/blogs/011.jpg',
                    title: '人力资源数字化如何导致组织成功的3个示例!',
                },
                {
                    id: '12',
                    coverImg: 'assets/images/blogs/012.jpg',
                    title: 'ECM 11 大优势',
                },
                {
                    id: '13',
                    coverImg: 'assets/images/blogs/013.jpg',
                    title: '内容服务平台提高HR合规性和安全性的4种方式',
                },
                {
                    id: '14',
                    coverImg: 'assets/images/blogs/014.jpg',
                    title: '公司如何将处理时间和成本减少50%以上',
                },
                {
                    id: '15',
                    coverImg: 'assets/images/blogs/015.jpg',
                    title: '为什么选择企业内容管理系统（ECM）',
                },
                {
                    id: '16',
                    coverImg: 'assets/images/blogs/016.jpg',
                    title: '2022 年 6 大热门信息管理趋势',
                },
                {
                    id: '17',
                    coverImg: 'assets/images/blogs/017.jpg',
                    title: '为什么选择Share Creators人工智能资源管理探索平台',
                },
                {
                    id: '18',
                    coverImg: 'assets/images/blogs/018.jpg',
                    title: '2022年数字资产管理的7大好处',
                },
                {
                    id: '19',
                    coverImg: 'assets/images/blogs/019.jpg',
                    title: '游戏全球化美术风格差异分析及案例分享——GDC 2019游戏出海市场营销峰会 ',
                },
                {
                    id: '20',
                    coverImg: 'assets/images/blogs/020.jpg',
                    title: 'Share Creators是怎样解决游戏行业资源储存和管理目前的痛点？',
                },
            ]

            let doms = []
            websiteBlog.forEach((item) => {
                doms.push(`<div class="blog-item">
                                        <div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
                                            <div class="pb-0 img flex-center">
                                        <img src="${item.coverImg}" alt="" data-id="${item.id}" class="article-cover" />
                                    </div>
                                    <div class="card-body pt-0">
                                        <p class="card-text">
                                            ${item.title}
                                        </p>
                                    </div>
                                </div>
                            </div>`)
            })
            $('#blog-container').html(doms.join(''))
            // setTimeout(() => {
            //     e.tinySlider()
            // }, 0);
        })()
    </script>
    <script src="assets/js/functions.js"></script>
</html>
