<!DOCTYPE html>
<html lang="en">
<head>
	<title>Share Creators</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap Based Creative Agency Template">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.min.css">


	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="assets/css/home.css">

</head>

<body>

<!-- =======================
Header START -->
<header id="header" class="navbar-dark navbar-transparent">
	<!-- Logo Nav START -->
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- banner =======================
Main banner START -->
<section id="home1" class="bg-primary position-relative">

	<!-- Main navbar START -->
	
	<div class="navbar-collapse" id="navbarCollapse">
	</div>
	<!-- Main navbar END -->
	<!--	main-nav end	-->

	<!--	banner content start	-->
	<div class="container banner-content pt-5 mt-4">
		<div class="row align-items-center mb-2 ">
			<div class="col-lg-5 z-index-9 text-center pe-lg-7">
				<!-- Title -->
				<h5 class="text-black">企业级Google</h5>
				<div class="sys-name justify-content-center pt-3">
					<div class="text-center">
						<h2>Orange</h2>
						<h6>智能数字资产管理系统</h6>
					</div>
					<h2 class="px-lg-2"> + </h2>
					<div class="text-center">
						<h2>Passion</h2>
						<h6>智能项目管理系统</h6>
					</div>
				</div>
				<!-- Button -->
				<div class="mt-6" style="display: flex;justify-content: center">
					<a href="sign-up.html" class="use btn btn-green-dark mb-0 mx-2">免费试用</a>
				</div>
			</div>

			<div class="col-lg-7">
				<div class="row g-4 video-cover">
					<a class="btn btn-white btn-white-shadow btn-round btn-lg mb-0 play" data-gallery="hero"
					   href="https://www.youtube.com/embed/tXHviS-4ygo"><i class="fas fa-play"></i></a>
					<img src="./assets/images/bg/orange-main.png" alt="">
				</div><!-- RoW END -->
			</div>

		</div><!-- RoW END -->
	</div>

</section>
<!-- =======================
Hero banner END -->


	<!-- =======================
welcome start -->
	<section class="container welcome position-relative">
		<h3 class="text-center">欢迎来到Share Creators</h3>
		<h6 class="text-black px-xxl-10">
			我们提供高质量的美术咨询和制作服务，并自主研发了Orange智能数字资产管理系统和Passion智能项目管理系统，帮助您智能化管理公司数字资产，高效管理项目。
			我们将持续产出高质量美术作品，提供专业级美术咨询服务，并致力于帮助不同规模的企业管理数字资源，充分提高数字资产的可用性。
		</h6>
	</section>

<!-- =======================



Service section START -->
<section class="pt-0">
	<div class="container position-relative service">
		<div class="row g-4 justify-content-center">

			<div class="col-md-6 col-xl-3 ">
				<!-- Card START -->
				<div class="card card-body shadow rounded-4 rounded-bottom-right-0">
					<div class="context p-2">
						<!-- Title -->
						<h6>Orange</h6>
						<h6 class="mb-3">智能数字资产管理系统</h6>
						<!-- Content -->
						<p class="card-text">更高效的智能化数字资源管理，充分提高数字资产的可用性</p>
					</div>

					<!-- Button link -->
					<div class="video">
						<a href="">
							<!--						<img src="./assets/images/bg/video-cover.jpg" alt="" class="cover">-->
							<img class="btn" src="./assets/images/icon/play.png" alt="">
						</a>
					</div>
					<div class="learn-more flex-row justify-content-end mt-1">
						<a href="#" class="card-link text-primary fw-bold">查看详情</a>
					</div>

				</div>
				<!-- Card END -->
			</div>


			<div class="col-md-6 col-xl-3 ">
				<!-- Card START -->
				<div class="card card-body shadow rounded-4 rounded-bottom-right-0">
					<div class="context p-2">
						<!-- Title -->
						<h6>Orange</h6>
						<h6 class="mb-3">智能数字资产管理系统</h6>
						<!-- Content -->
						<p class="card-text">更高效的智能化数字资源管理，充分提高数字资产的可用性</p>
					</div>

					<!-- Button link -->
					<div class="video">
						<!--						<img src="./assets/images/bg/video-cover.jpg" alt="" class="cover">-->
						<img class="btn" src="./assets/images/icon/play.png" alt="">
					</div>
					<div class="learn-more flex-row justify-content-end mt-1">
						<a href="#" class="card-link text-primary fw-bold">查看详情</a>
					</div>

				</div>
				<!-- Card END -->
			</div>
			<div class="col-md-6 col-xl-3 ">
				<!-- Card START -->
				<div class="card card-body shadow rounded-4 rounded-bottom-right-0">
					<div class="context p-2">
						<!-- Title -->
						<h6>Orange</h6>
						<h6 class="mb-3">智能数字资产管理系统</h6>
						<!-- Content -->
						<p class="card-text">更高效的智能化数字资源管理，充分提高数字资产的可用性</p>
					</div>

					<!-- Button link -->
					<div class="video">
						<!--						<img src="./assets/images/bg/video-cover.jpg" alt="" class="cover">-->
						<img class="btn" src="./assets/images/icon/play.png" alt="">
					</div>
					<div class="learn-more flex-row justify-content-end mt-1">
						<a href="#" class="card-link text-primary fw-bold">查看详情</a>
					</div>

				</div>
				<!-- Card END -->
			</div>

		</div><!-- Row END -->
	</div>
</section>
	<!-- =======================
    Service section END -->


	<!-- =======================
Service section START -->
	<section>
		<div class="container position-relative">
			<div class="row">
				<div class="mb-3">
					<!-- Title -->
					<h4 class="mb-3 text-center w-100">核心优势</h4>
				</div>
			</div><!-- Row END -->

			<div class="row g-4">

				<div class="col-md-6 col-xl-3">
					<!-- Card START -->
					<div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
						<did class="d-flex align-items-center">
							<!-- Icon -->
							<div class="icon-md fs-6 text-primary bg-primary bg-opacity-25 rounded-3 rounded-bottom-right-0 mb-3">
								<i class="bi bi-exclamation-diamond fa-fw"></i>
							</div>
							<!-- Title -->
							<h6 class="ms-xl-3 mb-3">智能AI搜索</h6>
						</did>

						<!-- Content -->
						<p class="card-text">AI智能识别解析资源文件，配合强大的人工智能及自定义标签功能，针对海量数据进行智能化识别并提供多样的搜索条件，方便快速搜索到所需要的资源文件</p>
					</div>
					<!-- Card END -->
				</div>

				<div class="col-md-6 col-xl-3">
					<!-- Card START -->
					<div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
						<did class="d-flex align-items-center">
							<!-- Icon -->
							<div class="icon-md fs-6 text-primary bg-primary bg-opacity-25 rounded-3 rounded-bottom-right-0 mb-3">
								<i class="bi bi-exclamation-diamond fa-fw"></i>
							</div>
							<!-- Title -->
							<h6 class="ms-xl-3 mb-3">智能AI搜索</h6>
						</did>

						<!-- Content -->
						<p class="card-text">AI智能识别解析资源文件，配合强大的人工智能及自定义标签功能，针对海量数据进行智能化识别并提供多样的搜索条件，方便快速搜索到所需要的资源文件</p>
					</div>
					<!-- Card END -->
				</div>

				<div class="col-md-6 col-xl-3">
					<!-- Card START -->
					<div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
						<did class="d-flex align-items-center">
							<!-- Icon -->
							<div class="icon-md fs-6 text-primary bg-primary bg-opacity-25 rounded-3 rounded-bottom-right-0 mb-3">
								<i class="bi bi-exclamation-diamond fa-fw"></i>
							</div>
							<!-- Title -->
							<h6 class="ms-xl-3 mb-3">智能AI搜索</h6>
						</did>

						<!-- Content -->
						<p class="card-text">AI智能识别解析资源文件，配合强大的人工智能及自定义标签功能，针对海量数据进行智能化识别并提供多样的搜索条件，方便快速搜索到所需要的资源文件</p>
					</div>
					<!-- Card END -->
				</div>

				<div class="col-md-6 col-xl-3">
					<!-- Card START -->
					<div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
						<did class="d-flex align-items-center">
							<!-- Icon -->
							<div class="icon-md fs-6 text-primary bg-primary bg-opacity-25 rounded-3 rounded-bottom-right-0 mb-3">
								<i class="bi bi-exclamation-diamond fa-fw"></i>
							</div>
							<!-- Title -->
							<h6 class="ms-xl-3 mb-3">智能AI搜索</h6>
						</did>

						<!-- Content -->
						<p class="card-text">AI智能识别解析资源文件，配合强大的人工智能及自定义标签功能，针对海量数据进行智能化识别并提供多样的搜索条件，方便快速搜索到所需要的资源文件</p>
					</div>
					<!-- Card END -->
				</div>

			</div><!-- Row END -->
		</div>
</section>
	<!-- =======================
    Service section END -->

	<!-- =======================
    About section  START -->

	<!-- =======================
    Activity section  START -->
<section>
	<div class="container">

		<div class="row">
			<div class="col-lg-5 text-center mx-auto">
				<!-- Title -->
				<h2 class="mb-3">公司动态</h2>
			</div>
		</div><!-- Row END -->

		<div class="row">

			<div class="col-12">
				<!-- Tiny Slider START -->
				<div class="tiny-slider arrow-round arrow-gray arrow-hover">
					<div class="tiny-slider-inner my-3" data-autoplay="true" data-edge="20" data-arrow="true" data-dots="false" data-items-xl="3" data-items-md="2" data-items-sm="1">


						<div>
							<!-- Card START -->
							<div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
								<!-- Card header START -->
								<div class="pb-0">
									<img src="./assets/images/bg/activity.png" alt="" class="article-cover">
								</div>
								<!-- Card header END -->
								<!-- Card Body START -->
								<div class="card-body pt-0">
									<!-- Content -->
									<p class="card-text">2022 / 04 / 01</p>
									<p class="card-text">
										文章标题示例：游戏出海游戏出海游戏出海
										文章标题示例游戏出海游戏出海游戏出海</p>
								</div>
								<!-- Card body END -->
							</div>
							<!--Card END  -->
						</div>

						<div>
							<!-- Card START -->
							<div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
								<!-- Card header START -->
								<div class="pb-0">
									<img src="./assets/images/bg/activity.png" alt="" class="article-cover">
								</div>
								<!-- Card header END -->
								<!-- Card Body START -->
								<div class="card-body pt-0">
									<!-- Content -->
									<p class="card-text">2022 / 04 / 01</p>
									<p class="card-text">
										文章标题示例：游戏出海游戏出海游戏出海
										文章标题示例游戏出海游戏出海游戏出海</p>
								</div>
								<!-- Card body END -->
							</div>
							<!--Card END  -->
						</div>

						<div>
							<!-- Card START -->
							<div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
								<!-- Card header START -->
								<div class="pb-0">
									<img src="./assets/images/bg/activity.png" alt="" class="article-cover">
								</div>
								<!-- Card header END -->
								<!-- Card Body START -->
								<div class="card-body pt-0">
									<!-- Content -->
									<p class="card-text">2022 / 04 / 01</p>
									<p class="card-text">
										文章标题示例：游戏出海游戏出海游戏出海
										文章标题示例游戏出海游戏出海游戏出海</p>
								</div>
								<!-- Card body END -->
							</div>
							<!--Card END  -->
						</div>

						<div>
							<!-- Card START -->
							<div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
								<!-- Card header START -->
								<div class="pb-0">
									<img src="./assets/images/bg/activity.png" alt="" class="article-cover">
								</div>
								<!-- Card header END -->
								<!-- Card Body START -->
								<div class="card-body pt-0">
									<!-- Content -->
									<p class="card-text">2022 / 04 / 01</p>
									<p class="card-text">
										文章标题示例：游戏出海游戏出海游戏出海
										文章标题示例游戏出海游戏出海游戏出海</p>
								</div>
								<!-- Card body END -->
							</div>
							<!--Card END  -->
						</div>

						<div>
							<!-- Card START -->
							<div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
								<!-- Card header START -->
								<div class="pb-0">
									<img src="./assets/images/bg/activity.png" alt="" class="article-cover">
								</div>
								<!-- Card header END -->
								<!-- Card Body START -->
								<div class="card-body pt-0">
									<!-- Content -->
									<p class="card-text">2022 / 04 / 01</p>
									<p class="card-text">
										文章标题示例：游戏出海游戏出海游戏出海
										文章标题示例游戏出海游戏出海游戏出海</p>
								</div>
								<!-- Card body END -->
							</div>
							<!--Card END  -->
						</div>

						<div>
							<!-- Card START -->
							<div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
								<!-- Card header START -->
								<div class="pb-0">
									<img src="./assets/images/bg/activity.png" alt="" class="article-cover">
								</div>
								<!-- Card header END -->
								<!-- Card Body START -->
								<div class="card-body pt-0">
									<!-- Content -->
									<p class="card-text">2022 / 04 / 01</p>
									<p class="card-text">
										文章标题示例：游戏出海游戏出海游戏出海
										文章标题示例游戏出海游戏出海游戏出海</p>
								</div>
								<!-- Card body END -->
							</div>
							<!--Card END  -->
						</div>

						<div>
							<!-- Card START -->
							<div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
								<!-- Card header START -->
								<div class="pb-0">
									<img src="./assets/images/bg/activity.png" alt="" class="article-cover">
								</div>
								<!-- Card header END -->
								<!-- Card Body START -->
								<div class="card-body pt-0">
									<!-- Content -->
									<p class="card-text">2022 / 04 / 01</p>
									<p class="card-text">
										文章标题示例：游戏出海游戏出海游戏出海
										文章标题示例游戏出海游戏出海游戏出海</p>
								</div>
								<!-- Card body END -->
							</div>
							<!--Card END  -->
						</div>

						<div>
							<!-- Card START -->
							<div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
								<!-- Card header START -->
								<div class="pb-0">
									<img src="./assets/images/bg/activity.png" alt="" class="article-cover">
								</div>
								<!-- Card header END -->
								<!-- Card Body START -->
								<div class="card-body pt-0">
									<!-- Content -->
									<p class="card-text">2022 / 04 / 01</p>
									<p class="card-text">
										文章标题示例：游戏出海游戏出海游戏出海
										文章标题示例游戏出海游戏出海游戏出海</p>
								</div>
								<!-- Card body END -->
							</div>
							<!--Card END  -->
						</div>

					</div>
				</div>
				<!-- Tiny Slider END -->
			</div>

		</div><!-- Row END -->

	</div>
</section>
	<!-- =======================
    Activity section START -->




</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START  -->
<footer class="bg-black pt-5" id="footer">
</footer>
<!-- =======================
Footer END  -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
<script src="assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>


</body>
<script src="./docs/assets/js/jquery-3.6.0.min.js"></script>
<script>
	$('#header').load('./components/header.html')
	$('#navbarCollapse').load('./components/nav.html')
	$('#footer').load('./components/footer.html')
</script>
</html>
