<!DOCTYPE html>
<html lang="en">
<head>
	<title>Share Creators</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap Based Creative Agency Template">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.min.css">


	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="assets/css/home.css">

</head>

<body>

<!-- =======================
Header START -->
<header class="navbar-dark navbar-transparent">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="index.html">
				<img class="navbar-brand-item" src="assets/images/logo.png" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>



			<!-- Nav right START -->
			<div class="d-none d-sm-block">
				<a href="https://www.sharecreators.com" class="btn btn-link text-white mb-0">英文版</a>
				<a href="sign-up.html" class="btn btn-green-light mb-0 mx-2">免费试用</a>
				<a href="https://www.sharecreators.com" class="btn btn-link text-white mb-0">
					<img src="./assets/images/public/weChat.png" alt="">
				</a>
			</div>
			<!-- Nav right END -->

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- banner =======================
Main banner START -->
<section class="bg-primary position-relative">

	<!-- Main navbar START -->
	<div class="navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav navbar-nav-scroll mx-auto">
			<!-- Nav item 1 Home -->
			<li class="nav-item">
				<a class="nav-link" href="#" id="homeMenu">首页</a>
			</li>

			<!-- Nav item 2 Company -->
			<li class="nav-item">
				<a class="nav-link" href="#">智能企业管理系统</a>
			</li>

			<!-- Nav item 3 Project -->
			<li class="nav-item">
				<a class="nav-link" href="#">智能项目管理系统</a>
			</li>

			<!-- Nav item 4 API -->
			<li class="nav-item">
				<a class="nav-link" href="#">API社区生态</a>
			</li>


			<!-- Nav item 5 Service -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">动态咨询</a>
				<!-- Dropdown menu -->
				<ul class="dropdown-menu" aria-labelledby="aboutMenu">
					<li> <a class="dropdown-item" href="about.html">游戏美术</a> </li>
					<li> <a class="dropdown-item" href="about-2.html">公司动态</a> </li>
				</ul>
			</li>

			<!-- Nav item 6 Skills -->
			<li class="nav-item">
				<a class="nav-link" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">技术支持</a>
			</li>

			<!-- Nav item 7 About -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="aboutMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">关于我们</a>
				<!-- Dropdown menu -->
				<ul class="dropdown-menu" aria-labelledby="aboutMenu">
					<li> <a class="dropdown-item" href="about.html">公司介绍</a> </li>
					<li> <a class="dropdown-item" href="about-2.html">加入我们</a> </li>
					<li> <a class="dropdown-item" href="about-2.html">联系我们</a> </li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Main navbar END -->
	<!--	main-nav end	-->

	<!--	banner content start	-->
	<div class="container banner-content pt-5 mt-4">
		<div class="row align-items-center mb-2 ">
			<div class="col-lg-5 z-index-9 text-center pe-lg-7">
				<!-- Title -->
				<h5 class="text-black">企业级Google</h5>
				<div class="sys-name justify-content-center pt-3">
					<div class="text-center">
						<h2>Orange</h2>
						<h6>智能数字资产管理系统</h6>
					</div>
					<h2 class="px-lg-2"> + </h2>
					<div class="text-center">
						<h2>Passion</h2>
						<h6>智能项目管理系统</h6>
					</div>
				</div>
				<!-- Button -->
				<div class="mt-6" style="display: flex;justify-content: center">
					<a href="sign-up.html" class="use btn btn-green-dark mb-0 mx-2">免费试用</a>
				</div>
			</div>

			<div class="col-lg-7">
				<div class="row g-4 video-cover">
					<a class="btn btn-white btn-white-shadow btn-round btn-lg mb-0 play" data-gallery="hero"
					   href="https://www.youtube.com/embed/tXHviS-4ygo"><i class="fas fa-play"></i></a>
					<img src="./assets/images/bg/orange-main.png" alt="">
				</div><!-- RoW END -->
			</div>

		</div><!-- RoW END -->
	</div>

</section>
<!-- =======================
Hero banner END -->


	<!-- =======================
welcome start -->
	<section class="container welcome position-relative">
		<h3 class="text-center">欢迎来到Share Creators</h3>
		<h6 class="text-black px-xxl-10">
			我们提供高质量的美术咨询和制作服务，并自主研发了Orange智能数字资产管理系统和Passion智能项目管理系统，帮助您智能化管理公司数字资产，高效管理项目。
			我们将持续产出高质量美术作品，提供专业级美术咨询服务，并致力于帮助不同规模的企业管理数字资源，充分提高数字资产的可用性。
		</h6>
	</section>

<!-- =======================



Service section START -->
<section class="pt-0">
	<div class="container position-relative service">
		<div class="row g-4 justify-content-center">

			<div class="col-md-6 col-xl-3 ">
				<!-- Card START -->
				<div class="card card-body shadow rounded-4 rounded-bottom-right-0">
					<div class="context p-2">
						<!-- Title -->
						<h6>Orange</h6>
						<h6 class="mb-3">智能数字资产管理系统</h6>
						<!-- Content -->
						<p class="card-text">更高效的智能化数字资源管理，充分提高数字资产的可用性</p>
					</div>

					<!-- Button link -->
					<div class="video">
						<a href="">
							<!--						<img src="./assets/images/bg/video-cover.jpg" alt="" class="cover">-->
							<img class="btn" src="./assets/images/icon/play.png" alt="">
						</a>
					</div>
					<div class="learn-more flex-row justify-content-end mt-1">
						<a href="#" class="card-link text-primary fw-bold">查看详情</a>
					</div>

				</div>
				<!-- Card END -->
			</div>


			<div class="col-md-6 col-xl-3 ">
				<!-- Card START -->
				<div class="card card-body shadow rounded-4 rounded-bottom-right-0">
					<div class="context p-2">
						<!-- Title -->
						<h6>Orange</h6>
						<h6 class="mb-3">智能数字资产管理系统</h6>
						<!-- Content -->
						<p class="card-text">更高效的智能化数字资源管理，充分提高数字资产的可用性</p>
					</div>

					<!-- Button link -->
					<div class="video">
						<!--						<img src="./assets/images/bg/video-cover.jpg" alt="" class="cover">-->
						<img class="btn" src="./assets/images/icon/play.png" alt="">
					</div>
					<div class="learn-more flex-row justify-content-end mt-1">
						<a href="#" class="card-link text-primary fw-bold">查看详情</a>
					</div>

				</div>
				<!-- Card END -->
			</div>
			<div class="col-md-6 col-xl-3 ">
				<!-- Card START -->
				<div class="card card-body shadow rounded-4 rounded-bottom-right-0">
					<div class="context p-2">
						<!-- Title -->
						<h6>Orange</h6>
						<h6 class="mb-3">智能数字资产管理系统</h6>
						<!-- Content -->
						<p class="card-text">更高效的智能化数字资源管理，充分提高数字资产的可用性</p>
					</div>

					<!-- Button link -->
					<div class="video">
						<!--						<img src="./assets/images/bg/video-cover.jpg" alt="" class="cover">-->
						<img class="btn" src="./assets/images/icon/play.png" alt="">
					</div>
					<div class="learn-more flex-row justify-content-end mt-1">
						<a href="#" class="card-link text-primary fw-bold">查看详情</a>
					</div>

				</div>
				<!-- Card END -->
			</div>

		</div><!-- Row END -->
	</div>
</section>
	<!-- =======================
    Service section END -->


	<!-- =======================
Service section START -->
	<section>
		<div class="container position-relative">
			<div class="row">
				<div class="mb-3">
					<!-- Title -->
					<h4 class="mb-3 text-center w-100">核心优势</h4>
				</div>
			</div><!-- Row END -->

			<div class="row g-4">

				<div class="col-md-6 col-xl-3">
					<!-- Card START -->
					<div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
						<did class="d-flex align-items-center">
							<!-- Icon -->
							<div class="icon-md fs-6 text-primary bg-primary bg-opacity-25 rounded-3 rounded-bottom-right-0 mb-3">
								<i class="bi bi-exclamation-diamond fa-fw"></i>
							</div>
							<!-- Title -->
							<h6 class="ms-xl-3 mb-3">智能AI搜索</h6>
						</did>

						<!-- Content -->
						<p class="card-text">AI智能识别解析资源文件，配合强大的人工智能及自定义标签功能，针对海量数据进行智能化识别并提供多样的搜索条件，方便快速搜索到所需要的资源文件</p>
					</div>
					<!-- Card END -->
				</div>

				<div class="col-md-6 col-xl-3">
					<!-- Card START -->
					<div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
						<did class="d-flex align-items-center">
							<!-- Icon -->
							<div class="icon-md fs-6 text-primary bg-primary bg-opacity-25 rounded-3 rounded-bottom-right-0 mb-3">
								<i class="bi bi-exclamation-diamond fa-fw"></i>
							</div>
							<!-- Title -->
							<h6 class="ms-xl-3 mb-3">智能AI搜索</h6>
						</did>

						<!-- Content -->
						<p class="card-text">AI智能识别解析资源文件，配合强大的人工智能及自定义标签功能，针对海量数据进行智能化识别并提供多样的搜索条件，方便快速搜索到所需要的资源文件</p>
					</div>
					<!-- Card END -->
				</div>

				<div class="col-md-6 col-xl-3">
					<!-- Card START -->
					<div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
						<did class="d-flex align-items-center">
							<!-- Icon -->
							<div class="icon-md fs-6 text-primary bg-primary bg-opacity-25 rounded-3 rounded-bottom-right-0 mb-3">
								<i class="bi bi-exclamation-diamond fa-fw"></i>
							</div>
							<!-- Title -->
							<h6 class="ms-xl-3 mb-3">智能AI搜索</h6>
						</did>

						<!-- Content -->
						<p class="card-text">AI智能识别解析资源文件，配合强大的人工智能及自定义标签功能，针对海量数据进行智能化识别并提供多样的搜索条件，方便快速搜索到所需要的资源文件</p>
					</div>
					<!-- Card END -->
				</div>

				<div class="col-md-6 col-xl-3">
					<!-- Card START -->
					<div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">
						<did class="d-flex align-items-center">
							<!-- Icon -->
							<div class="icon-md fs-6 text-primary bg-primary bg-opacity-25 rounded-3 rounded-bottom-right-0 mb-3">
								<i class="bi bi-exclamation-diamond fa-fw"></i>
							</div>
							<!-- Title -->
							<h6 class="ms-xl-3 mb-3">智能AI搜索</h6>
						</did>

						<!-- Content -->
						<p class="card-text">AI智能识别解析资源文件，配合强大的人工智能及自定义标签功能，针对海量数据进行智能化识别并提供多样的搜索条件，方便快速搜索到所需要的资源文件</p>
					</div>
					<!-- Card END -->
				</div>

			</div><!-- Row END -->
		</div>
</section>
	<!-- =======================
    Service section END -->

	<!-- =======================
    About section  START -->

	<!-- =======================
    Activity section  START -->
<section>
	<div class="container">

		<div class="row">
			<div class="col-lg-5 text-center mx-auto">
				<!-- Title -->
				<h2 class="mb-3">公司动态</h2>
			</div>
		</div><!-- Row END -->

		<div class="row">

			<div class="col-12">
				<!-- Tiny Slider START -->
				<div class="tiny-slider arrow-round arrow-gray arrow-hover">
					<div class="tiny-slider-inner my-3" data-autoplay="true" data-edge="20" data-arrow="true" data-dots="false" data-items-xl="3" data-items-md="2" data-items-sm="1">


						<div>
							<!-- Card START -->
							<div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
								<!-- Card header START -->
								<div class="pb-0">
									<img src="./assets/images/bg/activity.png" alt="" class="article-cover">
								</div>
								<!-- Card header END -->
								<!-- Card Body START -->
								<div class="card-body pt-0">
									<!-- Content -->
									<p class="card-text">2022 / 04 / 01</p>
									<p class="card-text">
										文章标题示例：游戏出海游戏出海游戏出海
										文章标题示例游戏出海游戏出海游戏出海</p>
								</div>
								<!-- Card body END -->
							</div>
							<!--Card END  -->
						</div>

						<div>
							<!-- Card START -->
							<div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
								<!-- Card header START -->
								<div class="pb-0">
									<img src="./assets/images/bg/activity.png" alt="" class="article-cover">
								</div>
								<!-- Card header END -->
								<!-- Card Body START -->
								<div class="card-body pt-0">
									<!-- Content -->
									<p class="card-text">2022 / 04 / 01</p>
									<p class="card-text">
										文章标题示例：游戏出海游戏出海游戏出海
										文章标题示例游戏出海游戏出海游戏出海</p>
								</div>
								<!-- Card body END -->
							</div>
							<!--Card END  -->
						</div>

						<div>
							<!-- Card START -->
							<div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
								<!-- Card header START -->
								<div class="pb-0">
									<img src="./assets/images/bg/activity.png" alt="" class="article-cover">
								</div>
								<!-- Card header END -->
								<!-- Card Body START -->
								<div class="card-body pt-0">
									<!-- Content -->
									<p class="card-text">2022 / 04 / 01</p>
									<p class="card-text">
										文章标题示例：游戏出海游戏出海游戏出海
										文章标题示例游戏出海游戏出海游戏出海</p>
								</div>
								<!-- Card body END -->
							</div>
							<!--Card END  -->
						</div>

						<div>
							<!-- Card START -->
							<div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
								<!-- Card header START -->
								<div class="pb-0">
									<img src="./assets/images/bg/activity.png" alt="" class="article-cover">
								</div>
								<!-- Card header END -->
								<!-- Card Body START -->
								<div class="card-body pt-0">
									<!-- Content -->
									<p class="card-text">2022 / 04 / 01</p>
									<p class="card-text">
										文章标题示例：游戏出海游戏出海游戏出海
										文章标题示例游戏出海游戏出海游戏出海</p>
								</div>
								<!-- Card body END -->
							</div>
							<!--Card END  -->
						</div>

						<div>
							<!-- Card START -->
							<div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
								<!-- Card header START -->
								<div class="pb-0">
									<img src="./assets/images/bg/activity.png" alt="" class="article-cover">
								</div>
								<!-- Card header END -->
								<!-- Card Body START -->
								<div class="card-body pt-0">
									<!-- Content -->
									<p class="card-text">2022 / 04 / 01</p>
									<p class="card-text">
										文章标题示例：游戏出海游戏出海游戏出海
										文章标题示例游戏出海游戏出海游戏出海</p>
								</div>
								<!-- Card body END -->
							</div>
							<!--Card END  -->
						</div>

						<div>
							<!-- Card START -->
							<div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
								<!-- Card header START -->
								<div class="pb-0">
									<img src="./assets/images/bg/activity.png" alt="" class="article-cover">
								</div>
								<!-- Card header END -->
								<!-- Card Body START -->
								<div class="card-body pt-0">
									<!-- Content -->
									<p class="card-text">2022 / 04 / 01</p>
									<p class="card-text">
										文章标题示例：游戏出海游戏出海游戏出海
										文章标题示例游戏出海游戏出海游戏出海</p>
								</div>
								<!-- Card body END -->
							</div>
							<!--Card END  -->
						</div>

						<div>
							<!-- Card START -->
							<div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
								<!-- Card header START -->
								<div class="pb-0">
									<img src="./assets/images/bg/activity.png" alt="" class="article-cover">
								</div>
								<!-- Card header END -->
								<!-- Card Body START -->
								<div class="card-body pt-0">
									<!-- Content -->
									<p class="card-text">2022 / 04 / 01</p>
									<p class="card-text">
										文章标题示例：游戏出海游戏出海游戏出海
										文章标题示例游戏出海游戏出海游戏出海</p>
								</div>
								<!-- Card body END -->
							</div>
							<!--Card END  -->
						</div>

						<div>
							<!-- Card START -->
							<div class="activity-card rounded-4 rounded-bottom-right-0 px-0 py-0">
								<!-- Card header START -->
								<div class="pb-0">
									<img src="./assets/images/bg/activity.png" alt="" class="article-cover">
								</div>
								<!-- Card header END -->
								<!-- Card Body START -->
								<div class="card-body pt-0">
									<!-- Content -->
									<p class="card-text">2022 / 04 / 01</p>
									<p class="card-text">
										文章标题示例：游戏出海游戏出海游戏出海
										文章标题示例游戏出海游戏出海游戏出海</p>
								</div>
								<!-- Card body END -->
							</div>
							<!--Card END  -->
						</div>

					</div>
				</div>
				<!-- Tiny Slider END -->
			</div>

		</div><!-- Row END -->

	</div>
</section>
	<!-- =======================
    Activity section START -->




</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START  -->
<footer class="bg-black pt-5">
	<div class="container">

		<div class="row g-4 page-foot-content">
			<!-- Widget 1 START -->
			<div class="col-12 col-lg-3">
				<!-- Logo -->
				<img src="assets/images/logo.png" class="footer-brand-item mb-3" alt="logo">
				<!-- Info -->
				<p class="text-primary-hover mb-0"><a href="#" class="text-white"><i class="bi bi-telephone-plus me-2"></i>18628061890（微信同号）</a></p>
				<p class="text-primary-hover"><a href="#" class="text-white"><i class="bi bi-geo-alt me-2"></i>hr@sharecreators.com</a>
				</p>
			</div>
			<!-- Widget 1 END -->

			<!-- Widget 2 START -->
			<div class="col-6 col-md-3 col-lg-2">
				<h6 class="mb-4 text-white">关于Share Creators</h6>
				<ul class="nav flex-column text-primary-hover">
					<li class="nav-item"><a class="nav-link pt-0" href="#">公司介绍</a></li>
					<li class="nav-item"><a class="nav-link" href="#">加入我们</a></li>
					<li class="nav-item"><a class="nav-link" href="#">联系我们</a></li>
				</ul>
			</div>
			<!-- Widget 2 END -->

			<!-- Widget 3 START -->
			<div class="col-6 col-md-3 col-lg-2">
				<h6 class="mb-4 text-white">产品与服务</h6>
				<ul class="nav flex-column text-primary-hover">
					<li class="nav-item"><a class="nav-link pt-0" href="#">Orange智能数字资产管理系统</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Passion智能项目管理系统</a></li>
					<li class="nav-item"><a class="nav-link" href="#">游戏美术</a></li>
				</ul>
			</div>
			<!-- Widget 3 END -->

			<!-- Widget 4 START -->
			<div class="col-6 col-md-3 col-lg-2">
				<h6 class="mb-4 text-white">了解更多</h6>
				<ul class="nav flex-column text-primary-hover">
					<li class="nav-item"><a class="nav-link pt-0" href="#">动态资讯</a></li>
					<li class="nav-item"><a class="nav-link" href="#">技术支持</a></li>
					<li class="nav-item"><a class="nav-link" href="#">社区生态</a></li>
				</ul>
			</div>
		</div><!-- Row END -->

		<!-- Divider -->
		<hr class="mt-4 mb-0">

		<!-- Bottom footer -->
		<div class="row justify-content-md-between align-items-center py-4">

			<!-- Copy rights -->
			<div class="col-md-6">
				<div class="text-center text-md-start text-primary-hover text-white ">©2022 <a href="https://www.webestica.com/" class="text-reset btn-link" target="_blank">Share Creators.</a>. All rights reserved
				</div>
			</div>

			<!-- Copy links -->
			<div class="col-md-6">
				<ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
					<li class="nav-item"><a class="nav-link text-white text-primary-hover p-0" href="#">Terms</a></li>
					<li class="nav-item"><a class="nav-link text-white text-primary-hover p-0 ms-3" href="#">Privacy</a></li>
					<li class="nav-item"><a class="nav-link text-white text-primary-hover p-0 ms-3" href="#">Cookies</a></li>
				</ul>
			</div>
		</div>

	</div>
</footer>
<!-- =======================
Footer END  -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
<script src="assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>


</body>

</html>
