<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Share Creators</title>

        <!-- Meta Tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="author" content="Webestica.com" />
        <meta name="description" content="Bootstrap Based Creative Agency Template" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico" />

        <!-- Plugins CSS -->
        <link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css" />
        <link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css" />
        <link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.min.css" />

        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/common.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/orange.css" />
    </head>

    <body>
        <!-- =======================
Header START -->
        <header id="header" class="navbar-dark navbar-transparent">
            <!-- Logo Nav START -->
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- Logo START -->
                    <div class="logo">
                        <h1>
                            <a class="navbar-brand" href="index.html" title="sharecreators"> sharecreators </a>
                        </h1>
                    </div>
                    <!-- Logo END -->

                    <!-- Responsive navbar toggler -->

                    <!-- Nav right START -->
                    <div style="display: flex">
                        <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse"
                            aria-controls="navbarCollapse"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="d-none d-sm-block">
                            <a href="https://www.sharecreators.com" class="btn btn-link text-white mb-0">英文版</a>
                            <a href="./free.html" class="btn btn-green-light mb-0 mx-2">免费试用</a>
                            <a
                                href="#"
                                class="btn btn-link text-white mb-0"
                                id="wechart_code"
                            >
                                <img src="./assets/images/public/weChat.png" alt="" />
                                <div class="header-wechat-code show">
                                    <img src="./assets/images/public/wechat-code.png" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- Nav right END -->
                </div>
            </nav>

            <!-- Logo Nav END -->
        </header>
        <!-- =======================
Header END -->

        <!-- **************** MAIN CONTENT START **************** -->
        <main class="orange-main">
            <!-- banner =================== ====
Main banner START -->
            <section class="bg-primary position-relative">
                <!-- Main navbar START -->

                <div class="collapse navbar-collapse show" id="navbarCollapse"></div>
                <!-- Main navbar END -->
                <!--	main-nav end	-->

                <img class="computed-bg" src="./assets/images/orange/computed.png" alt="" />
                <!--	banner content start	-->
                <div class="type-area banner-text pt-5 mt-4">
                    <div class="row align-items-center mb-2">
                        <div class="col-lg-12 z-index-9 text-center">
                            <div class="par1">Orange</div>
                            <div class="par2">智能数字资产管理系统</div>
                            <div class="par3">助力不同规模企业高效管理数字资产，最大限度提升数字资产的可用性</div>
                            <button type="submit" onclick="goFree()" class="btn btn-warning mb-0 free-btn">免费试用</button>
                        </div>
                    </div>
                    <!-- RoW END -->
                </div>
            </section>
            <section class="seal type-area row align-items-center">
                <div class="col-lg-6 container">
                    <div class="seal-title">从今开始，从管理中解放！</div>
                    <div class="seal-content">
                        Share Creators
                        研发的Orange智能数字资产管理系统，能够帮助不同规模的企业和团队智能化跟踪、管理、安排、协调和审查数字资源。让设计师们回归于设计本身！
                    </div>
                </div>
                <div class="col-lg-6 right">
                    <a data-glightbox data-gallery="office-tour" href="./assets/video/header-contact-introduce.mp4">
                        <img src="./assets/images/orange/play.png" alt="" />
                    </a>
                </div>
            </section>
            <section class="pain pb-2">
                <div class="type-area">
                    <div class="pain-title">Orange智能数字资产管理系统解决的行业痛点</div>
                    <div class="pain-content row">
                        <div class="col-lg-4">
                            <div class="item-title">
                                <div class="img flex-center">
                                    <img src="./assets/images/orange/safe.png" alt="" />
                                </div>
                                <span>难以管理的巨量数字资产</span>
                            </div>
                            <div class="item-content">
                                大量数据孤岛与非结构性数据，数字资产难以复用/管理，无企业中心资产管理系统， 各工具间无法互通。
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="item-title">
                                <div class="img flex-center">
                                    <img src="./assets/images/orange/cal.png" alt="" />
                                </div>
                                <span>多办公室/远程协作困局 </span>
                            </div>
                            <div class="item-content">
                                多办公室、远程的文档协作与分享往往效率低下、上传下载都需要大量的等待时间。
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="item-title">
                                <div class="img flex-center">
                                    <img src="./assets/images/orange/warn.png" alt="" />
                                </div>
                                <span>既有管理系统难堪重负</span>
                            </div>
                            <div class="item-content">
                                目前既有的数字资产管理产品功能陈旧，没有界面，没有搜索，较难使用，且价格昂贵。
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="function">
                <div class="type-area">
                    <div class="function-title">Orange智能数字资产管理系统 · 功能亮点</div>
                    <div class="card-body shadow function-item row">
                        <div class="card-des col-7">
                            <div class="des-title">AI智能搜索</div>
                            <div class="des-content">
                                AI智能识别解析资源文件，针对海量数据进行智能化识别并提供多样的搜索条件，方便快速搜索需要的资源文件
                            </div>
                            <div class="line"></div>
                            <ul class="des-function-list">
                                <li>· 图片内容识别检索</li>
                                <li>· 语音搜索</li>
                                <li>· 文字检索（包括图片中文字）</li>
                                <li>· 网址搜索</li>
                            </ul>
                        </div>
                        <div class="card-video flex-center col-5 function-search">
                            <a data-glightbox data-gallery="office-tour" href="./assets/video/function-search.mp4">
                                <img src="./assets/images/icon/play.png" alt="" />
                            </a>
                        </div>
                    </div>

                    <div class="card-body shadow function-item row">
                        <div class="card-des col-7">
                            <div class="des-title">实时查阅&评论多种文件</div>
                            <div class="des-content">
                                全面支持多种资源格式秒级在线查阅 ， 可直接在资源上实现进度查看、审阅回复、实时分享等诸多操作
                            </div>
                            <div class="line"></div>
                            <ul class="des-function-list">
                                <li>· 安全的资源版权(水印）</li>
                                <li>· GIF（逐帧预览评论）</li>
                                <li>· Spine 动画（具有蒙皮/权重和动作控制）</li>
                                <li>· 各类图片 & 文档</li>
                                <li>· 视频内容（逐帧预览评论）</li>
                                <li>· BIM查看器</li>
                            </ul>
                        </div>
                        <div class="card-video flex-center col-5 function-look">
                            <a data-glightbox data-gallery="office-tour" href="./assets/video/function-look.mp4">
                                <img src="./assets/images/icon/play.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="card-body shadow function-item row">
                        <div class="card-des col-7">
                            <div class="des-title">AI智能识别</div>
                            <div class="des-content">
                                配合强大的人工智能及自定义标签功能，针对海量数据进行智能化识别，可实现AI视频内容识别和NLP自然语义处理
                            </div>
                            <div class="line"></div>
                            <ul class="des-function-list nocol">
                                <li>· 监控分析</li>
                                <li>· 产品数据分析</li>
                                <li>· 预警分析</li>
                            </ul>
                        </div>
                        <div class="card-video flex-center col-5 function-ai">
                            <a data-glightbox data-gallery="office-tour" href="./assets/video/function-ai.mp4">
                                <img src="./assets/images/icon/play.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="card-body shadow function-item row">
                        <div class="card-des col-7">
                            <div class="des-title">全流程深度集成</div>
                            <div class="des-content">从制作工具到游戏引擎，上下游全流程接入，大幅提升开发效率</div>
                            <div class="line"></div>
                            <ul class="des-function-list nocol">
                                <li>· 上游工具对接：Photoshop、After Effect、Autodesk等</li>
                                <li>· 游戏引擎对接：Unity、Unreal等</li>
                                <li>· 下游工具对接：SVN, Perforce代码控制等</li>
                            </ul>
                        </div>
                        <div class="card-video flex-center col-5 function-integration">
                            <a data-glightbox data-gallery="office-tour" href="./assets/video/function-integration.mp4">
                                <img src="./assets/images/icon/play.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="card-body shadow function-item row">
                        <div class="card-des col-7">
                            <div class="des-title">高效协作 无缝沟通</div>
                            <div class="des-content">
                                可直接在资源上实现进度查看、审阅回复、实时分享等诸多操作；沟通工具API接口全方位集成，实现内/外部团队高效无缝沟通
                            </div>
                            <div class="line"></div>
                            <ul class="des-function-list">
                                <li>· 实时多人协同编辑文档</li>
                                <li>· 在线翻译文档</li>
                                <li>· 与Google Doc打通</li>
                                <li>· 通讯软件API (飞书、钉钉等）</li>
                            </ul>
                        </div>
                        <div class="card-video flex-center col-5 function-collaboration">
                            <a data-glightbox data-gallery="office-tour" href="./assets/video/function-collaboration.mp4">
                                <img src="./assets/images/icon/play.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="card-body shadow function-item row">
                        <div class="card-des col-7">
                            <div class="des-title">更高效、安全的资源统一管理</div>
                            <div class="des-content">
                                工作区域划分、权限控制团队资源、分享权限控制等功能，打造更高效及安全的资源统一管理环境
                            </div>
                            <div class="line"></div>
                            <ul class="des-function-list">
                                <li>· 同时支持私有化部署及云服务</li>
                                <li>· 权限控制团队资源</li>
                                <li>· 支持浏览器版本，桌面版 (windows & mac)</li>
                                <li>· 分享权限控制/即时通知</li>
                                <li>· 划分工作区域(团队区域/个人区域/分享给我空间)</li>
                                <li>· 安全的资源版权(水印)</li>
                            </ul>
                        </div>
                        <div class="card-video flex-center col-5"></div>
                    </div>
                </div>
            </section>

            <section class="evaluation">
                <div class="type-area">
                    <div class="evaluation-title">用户评价</div>
                    <ul class="evaluation-content row">
                        <li class="evaluation-content-item col-3 shadow">
                            <div class="icon">
                                <img src="./assets/images/orange/wangyi.png" alt="" />
                            </div>
                            <p>
                                在过去两年中我们合作研发了近30款游戏产品，包括知名IP游戏暗黑破坏神、荒野行动、阴阳师和第五人格等。同时我们试用了Share
                                Creators软件后，整体满意度在62%左右，其中有16%为非设计类岗位员工。
                            </p>
                        </li>
                        <li class="evaluation-content-item col-3 shadow">
                            <div class="icon">
                                <img src="./assets/images/orange/yoozoo.png" alt="" />
                            </div>
                            <p>Share Creators Inc. 连续两年获得了游族游戏2018和2019的Special Achievement Awards。</p>
                        </li>
                        <li class="evaluation-content-item col-3 shadow">
                            <div class="icon">
                                <img src="./assets/images/orange/s3-news-tmp-116020-bytedance--default--1280.png" alt="" />
                            </div>
                            <p>
                                今年我们的产研团队试用了Share Creators 研发的管理软件,
                                通过对同类产品的对比，我们觉得各个功能模块都很赞。接下来将让我们的业务团队去进一步体验一下。
                            </p>
                        </li>
                        <li class="evaluation-content-item col-3 shadow">
                            <div class="icon">
                                <img src="./assets/images/orange/Garena.png" alt="" />
                            </div>
                            <p>Share Creators对游戏美术行业十分了解，这款软件设计非常符合我们的需求，轻便易用！</p>
                        </li>
                    </ul>
                </div>
            </section>

            <section>
                <div class="container position-relative partner">
                    <div class="row">
                        <div class="mb-3">
                            <!-- Title -->
                            <h4 class="mb-3 text-center w-100">合作伙伴</h4>
                        </div>
                    </div>
                    <!-- Row END -->
                    <div id="partner"></div>
                    <!-- Row END -->
                </div>
            </section>

            <section class="price">
                <div class="type-area">
                    <div class="price-title">价格方案</div>
                    <ul class="price-content">
                        <li class="price-content-item price1-item">
                            <p class="content1">Orange</p>
                            <p class="content2">智能数字资产管理系统 2.0</p>
                            <p class="content3">团队云部署版</p>
                            <p class="content4">适用于中小企业数字资产管理</p>
                            <p class="content5">$ 9.9 <span>起</span></p>
                            <p class="content6">该方案包含以下功能：</p>

                            <ul class="price-function">
                                <li class="price-function-item">· Orange智能数字资产管理系统</li>
                                <li class="price-function-item">· Passion智能项目管理系统</li>
                                <li class="price-function-item">· AI智能标签，视频AI识别分析</li>
                                <li class="price-function-item">· 2D / 3D 研发素材及图片管理</li>
                                <li class="price-function-item">· 接入IM系统（例如飞书、钉钉、slack等）</li>
                                <li class="price-function-item">· 10G-1T存储空间</li>
                                <li class="price-function-item">· 可根据需求提供企业版功能</li>
                            </ul>

                            <button type="submit" class="btn btn-warning mb-0 free-btn" onclick="goFree()">免费试用</button>
                        </li>
                        <li class="price-content-item price2-item">
                            <p class="content1">Orange</p>
                            <p class="content2">智能数字资产管理系统 2.0</p>
                            <p class="content3">大型企业版</p>
                            <p class="content4">适用于大中型企业数字资产管理</p>
                            <p class="content5">$ 18.8万<span>起</span></p>
                            <p class="content6">该方案包含以下功能：</p>

                            <ul class="price-function">
                                <li class="price-function-item">· Orange智能数字资产管理系统完整功能 （含权限管理）</li>
                                <li class="price-function-item">· Passion 智能项目管理系统</li>
                                <li class="price-function-item">· AI智能标签，视频AI识别分析</li>
                                <li class="price-function-item">· 2D / 3D 研发素材及图片管理</li>
                                <li class="price-function-item">· 在线文档回复（图片、视频、3D文件等）</li>
                                <li class="price-function-item">· 接入IM系统（例如飞书、钉钉， slack等）</li>
                                <li class="price-function-item">· 可根据贵公司需求提供定制化服务</li>
                                <li class="price-function-item">· ...</li>
                            </ul>

                            <button type="submit" class="btn btn-warning mb-0 free-btn" onclick="goFree()">免费试用</button>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- =======================
Hero banner END -->

            <!-- =======================
welcome start -->

            <!-- =======================
Activity section  END -->
        </main>
        <!-- **************** MAIN CONTENT END **************** -->

        <!-- =======================
Footer START  -->
        <footer class="bg-black pt-5" id="footer"></footer>
        <!-- =======================
Footer END  -->

        <!-- Back to top -->
        <div class="back-top">
            <i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i>
        </div>

        <!-- =======================
JS libraries, plugins and custom scripts -->

        <!-- Bootstrap JS -->
        <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Vendors -->
        <script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
        <script src="assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>
        <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

        <!-- Template Functions -->
        <script src="assets/js/functions.js"></script>
    </body>
    <script src="./docs/assets/js/jquery-3.6.0.min.js"></script>
    <script>
        $('#navbarCollapse').load('./components/nav.html')
        $('#partner').load('./components/partner.html')
        $('#footer').load('./components/footer.html')
        function goFree() {
            location.href = './free.html'
        }
    </script>
</html>
