<!DOCTYPE html>
<html lang="en">
  <head>
    <title>passion</title>

    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Webestica.com" />
    <meta
      name="description"
      content="Bootstrap Based Creative Agency Template"
    />

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

    <!-- Plugins CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/vendor/font-awesome/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/vendor/tiny-slider/tiny-slider.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/vendor/glightbox/css/glightbox.min.css"
    />

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/common.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/orange.css" />
  </head>

  <body>
    <!-- =======================
Header START -->
    <header id="header" class="navbar-dark navbar-transparent">
      <!-- Logo Nav START -->
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <!-- Logo START -->
          <div class="logo">
            <h1>
              <a class="navbar-brand" href="index.html" title="sharecreators">
                sharecreators
              </a>
            </h1>
          </div>
          <!-- Logo END -->

          <!-- Responsive navbar toggler -->

          <!-- Nav right START -->
          <div style="display: flex">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-none d-sm-block">
              <a
                href="https://www.sharecreators.com"
                class="btn btn-link text-white mb-0"
                >英文版</a
              >
              <a href="./free.html" class="btn btn-green-light mb-0 mx-2"
                >免费试用</a
              >
              <a
                href="#"
                class="btn btn-link text-white mb-0"
                id="wechart_code"
              >
                <img src="./assets/images/public/weChat.png" alt="" />
                <div class="header-wechat-code show">
                  <img src="./assets/images/public/wechat-code.png" alt="" />
                </div>
              </a>
            </div>
          </div>
          <!-- Nav right END -->
        </div>
      </nav>

      <!-- Logo Nav END -->
    </header>
    <!-- =======================
Header END -->

    <!-- **************** MAIN CONTENT START **************** -->
    <main class="orange-main">
      <!-- banner =================== ====
Main banner START -->
      <section class="computed-passion position-relative">
        <!-- Main navbar START -->
        <img src="./assets/images/orange/banner-passion.png" alt="" class="banner-passion">
        <div class="collapse navbar-collapse show" id="navbarCollapse"></div>
        <!-- Main navbar END -->
        <!--	main-nav end	-->

        <!--	banner content start	-->
        <div class="type-area banner-text">
          <div class="row align-items-center mb-2">
            <div class="col-lg-12 z-index-9 text-center">
              <div class="par1">Passion</div>
              <div class="par2">智能项目管理系统</div>
              <div class="par3">
                一眼洞悉项目全局，智能化提升项目管理效率、降低研发成本
              </div>
              <button
                type="submit"
                class="btn btn-warning mb-0 free-btn"
                onclick="goFree()"
              >
                免费试用
              </button>
            </div>
          </div>
          <!-- RoW END -->
        </div>
      </section>
      <section class="seal container row align-items-center">
        <div class="col-lg-6 pe-lg-5">
          <div class="seal-title">一眼洞悉全局，全流程智能可视化管理</div>
          <div class="seal-content">
            Share Creators
            研发的Passion智能项目管理系统，能够一目了然洞悉所有项目的整体情况，并通过甘特图查看项目或个人任务进度，实时把控项目进度，实现项目全流程智能可视化管理！
          </div>
        </div>
        <div class="col-lg-6 right passion-system">
          <a
            data-glightbox
            data-gallery="office-tour"
            href="./assets/video/passion-system.mp4"
          >
            <img src="./assets/images/public/play.png" alt="" />
          </a>
        </div>
      </section>
      <section class="pain pb-2">
        <div class="container py-sm-8">
          <div class="pain-title">Passion智能项目管理系统解决的行业痛点</div>
          <div class="pain-content row mt-2">
            <div class="col-lg-4">
              <div class="item-title">
                <div class="img flex-center">
                  <img src="./assets/images/orange/safe.png" alt="" />
                </div>
                <span>多格式查阅赋能管理效率</span>
              </div>
              <div class="item-content">
                全面支持多种资源格式秒级在线查阅 ，
                同时可直接在资源上实现审阅回复、标注反馈等诸多操作，智能化提升项目管理效率
              </div>
            </div>
            <div class="col-lg-4">
              <div class="item-title">
                <div class="img flex-center">
                  <img src="./assets/images/orange/cal.png" alt="" />
                </div>
                <span>多办公室/实时把握项目整体进度</span>
              </div>
              <div class="item-content">
                项目整体进度及个人工作进度甘特图可视化展现，帮助管理者从宏观角度把控项目计划，减少依赖风险，减少进度风险，提升项目整体管理效率
              </div>
            </div>
            <div class="col-lg-4">
              <div class="item-title">
                <div class="img flex-center">
                  <img src="./assets/images/orange/warn.png" alt="" />
                </div>
                <span>数据沉淀便于经营决策</span>
              </div>
              <div class="item-content">
                实时监控供应商及项目组成员所有完成项目的工作量与质量，项目数据智能化统一管理，同时利用监控数据建立智能数据模型，便于即时制定&调整经营决策
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="function">
        <div class="type-area">
          <div class="function-title">Passion智能项目管理系统 · 功能亮点</div>
          <div class="card-body shadow function-item row">
            <div class="card-des col-7">
              <div class="des-title">多种格式在线查阅&评论标注</div>
              <div class="des-content">
                可直接在线查阅3D 文件（FBX、OBJ等 ），2D文件
                (PSD、PNG等)，2D动画文件（Spine）,
                以及GIF、视频等多种文件，同时可直接在文件上进行评论标注，如直接对2Spine
                动画或者视频中的某一帧直接进行标注反馈
              </div>
            </div>
            <div class="card-video flex-center col-5 function-mark"></div>
          </div>

          <div class="card-body shadow function-item row">
            <div class="card-des col-7">
              <div class="des-title">智能数据可视化</div>
              <div class="des-content">
                根据甘特图实时查看整体或个人的项目进度，同时自动生成项目数据对应的可视化图表，便于管理者从宏观角度把控项目计划，一眼洞悉项目全局
              </div>
            </div>
            <div class="card-video flex-center col-5 function-visual"></div>
          </div>
          <div class="card-body shadow function-item row">
            <div class="card-des col-7">
              <div class="des-title">历史项目轻松查阅</div>
              <div class="des-content">
                可在同一文件夹中查阅一个文件的所有历史版本，不需要费时重新翻阅聊天记录，同时也避免了聊天记录中“下载链接失效”情况的发生
              </div>
            </div>
            <div class="card-video flex-center col-5 function-history"></div>
          </div>
          <div class="card-body shadow function-item row">
            <div class="card-des col-7">
              <div class="des-title">多状态设置&数据沉淀</div>
              <div class="des-content">
                可设置多种项目状态（未开始、进行中、暂停、完成），还可自由为项目设置完成度；项目整体数据自动在后台进行保存，便于项目分析&经营决策
              </div>
            </div>
            <div class="card-video flex-center col-5 function-state"></div>
          </div>
          <div class="card-body shadow function-item row">
            <div class="card-des col-7">
              <div class="des-title">系统高度定制化</div>
              <div class="des-content">
                可为企业级客户提供更细致的定制化服务，根据具体需求和API接口情况进行定制化开发；同时支持私有化部署和公有云部署（可指定公有云）
              </div>
            </div>
            <div class="card-video flex-center col-5 function-custom"></div>
          </div>
          <div class="card-body shadow function-item row">
            <div class="card-des col-7">
              <div class="des-title">与Orange智能数字资源管理系统完美适配</div>
              <div class="des-content">
                可随时审阅Orange上所有已提交的文件（包括系统自动保存的版本），同时可与贵公司使用的通讯软件打通（如飞书、钉钉、Slack等）
              </div>
            </div>
            <div class="card-video flex-center col-5 function-match"></div>
          </div>
        </div>
      </section>

      <section class="advan">
        <div class="container position-relative">
          <div class="row">
            <div class="mb-6">
              <!-- Title -->
              <h4 class="advan-title text-center w-100">
                Passion如何帮助您降低研发成本
              </h4>
            </div>
          </div>
          <!-- Row END -->

          <div class="row g-4">
            <div class="advan-content-item col-md-4 col-xl-4">
              <!-- Card START -->
              <div class="rounded-4 rounded-bottom-right-0">
                <did class="d-flex align-items-center">
                  <!-- Icon -->
                  <div
                    class="icon-bg icon-md fs-6 text-primary rounded-3 rounded-bottom-right-0 mb-3"
                  >
                    <img src="./assets/images/home/search.png" alt="" />
                  </div>
                  <!-- Title -->
                  <h6 class="advan-item-title ms-xl-3 mb-3">降低项目风险</h6>
                </did>

                <!-- Content -->
                <p class="card-text">
                  通过实时监控项目计划的执行情况，提早发现风险和问题，及时调整资源和计划，保证项目稳定地走向成功，从而减少非必要的成本支出
                </p>
              </div>
              <!-- Card END -->
            </div>

            <div class="advan-content-item col-md-4 col-xl-4">
              <!-- Card START -->
              <div class="rounded-4 rounded-bottom-right-0">
                <did class="d-flex align-items-center">
                  <!-- Icon -->
                  <div
                    class="icon-bg icon-md fs-6 text-primary rounded-3 rounded-bottom-right-0 mb-3"
                  >
                    <img src="./assets/images/home/comment.png" alt="" />
                  </div>
                  <!-- Title -->
                  <h6 class="advan-item-title ms-xl-3 mb-3">项目质量管控</h6>
                </did>

                <!-- Content -->
                <p class="card-text">
                  监控供应商所有完成项目的工作量与质量；利用监控数据建立智能数据模型，可提供所有供应商、设计师基于人工智能的推荐排名
                </p>
              </div>
              <!-- Card END -->
            </div>

            <div class="advan-content-item col-md-4 col-xl-4">
              <!-- Card START -->
              <div class="rounded-4 rounded-bottom-right-0">
                <did class="d-flex align-items-center">
                  <!-- Icon -->
                  <div
                    class="icon-bg icon-md fs-6 text-primary rounded-3 rounded-bottom-right-0 mb-3"
                  >
                    <img src="./assets/images/home/node.png" alt="" />
                  </div>
                  <!-- Title -->
                  <h6 class="advan-item-title ms-xl-3 mb-3">员工效率管理</h6>
                </did>

                <!-- Content -->
                <p class="card-text">
                  监控进行中项目的返工次数以帮助项目组选择更高效的供应商；员工工作时长可作为绩效考核依据；监测项目完成的百分比可预测项目完成时间
                </p>
              </div>
              <!-- Card END -->
            </div>
          </div>
          <!-- Row END -->
        </div>
      </section>

      <section class="evaluation">
        <div class="container">
          <div class="evaluation-title">用户评价</div>
          <ul class="evaluation-content row">
            <li class="evaluation-content-item col-3 shadow">
              <div class="icon">
                <img src="./assets/images/orange/wangyi.png" alt="" />
              </div>
              <p>
                在过去两年中我们合作研发了近30款游戏产品，包括知名IP游戏荒野行动、阴阳师和第五人格等。同时我们试用了Share
                Creators软件后，整体满意度在62%左右，其中有16%为非设计类岗位员工。
              </p>
            </li>
            <li class="evaluation-content-item col-3 shadow">
              <div class="icon">
                <img src="./assets/images/orange/yoozoo.png" alt="" />
              </div>
              <p>
                Share Creators Inc. 连续两年获得了游族游戏2018和2019的Special
                Achievement Awards。
              </p>
            </li>
            <li class="evaluation-content-item col-3 shadow">
              <div class="icon">
                <img src="./assets/images/orange/byte.png" alt="" />
              </div>
              <p>
                今年我们的产研团队试用了Share Creators 研发的管理软件,
                通过对同类产品的对比，我们觉得各个功能模块都很赞。接下来将让我们的业务团队去进一步体验一下。
              </p>
            </li>
            <li class="evaluation-content-item col-3 shadow">
              <div class="icon">
                <img src="./assets/images/orange/Garena.png" alt="" />
              </div>
              <p>
                Share
                Creators对游戏美术行业十分了解，这款软件设计非常符合我们的需求，轻便易用！
              </p>
            </li>
          </ul>
        </div>
      </section>

      <section>
        <div class="container position-relative partner">
          <div class="row">
            <div class="mb-3">
              <!-- Title -->
              <h4 class="mb-3 text-center w-100">合作伙伴</h4>
            </div>
          </div>
          <!-- Row END -->
          <div id="partner"></div>
          <!-- Row END -->
        </div>
      </section>

      <!-- =======================
Hero banner END -->

      <!-- =======================
welcome start -->

      <!-- =======================
Activity section  END -->
    </main>
    <!-- **************** MAIN CONTENT END **************** -->

    <!-- =======================
Footer START  -->
    <footer class="bg-black pt-5" id="footer"></footer>
    <!-- =======================
Footer END  -->

    <!-- Back to top -->
    <div class="back-top">
      <i
        class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"
      ></i>
    </div>

    <!-- =======================
JS libraries, plugins and custom scripts -->

    <!-- Bootstrap JS -->
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Vendors -->
    <script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
    <script src="assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

    <!-- Template Functions -->
    <script src="assets/js/functions.js"></script>
  </body>
  <script src="./docs/assets/js/jquery-3.6.0.min.js"></script>
  <script src="assets/js/common.js"></script>
  <script>
    $("#navbarCollapse").load("./components/nav.html", function () {
      if (isMobile()) {
        $("#navbarCollapse").removeClass("show");
      }
    });
    $("#partner").load("./components/partner.html");
    $("#footer").load("./components/footer.html");
    function goFree() {
      location.href = "./free.html";
    }
  </script>
</html>
