<!DOCTYPE html>
<html lang="en">
    <head>
        <title>技术支持</title>

        <!-- Meta Tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="author" content="Webestica.com" />
        <meta name="description" content="Bootstrap Based Creative Agency Template" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico" />

        <!-- Google Font -->
        <!--	<link rel="preconnect" href="https://fonts.googleapis.com">-->
        <!--  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
        <!--  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" >-->

        <!-- Plugins CSS -->
        <link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css" />

        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/common.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/support.css" />
    </head>

    <body>
        <!-- =======================
Header START -->
        <header id="header" class="navbar-dark navbar-transparent">
            <!-- Logo Nav START -->
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- Logo START -->
                    <div class="logo">
                        <h1>
                            <a class="navbar-brand" href="index.html" title="sharecreators"> sharecreators </a>
                        </h1>
                    </div>
                    <!-- Logo END -->

                    <!-- Responsive navbar toggler -->

                    <!-- Nav right START -->
                    <div style="display: flex">
                        <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse"
                            aria-controls="navbarCollapse"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="d-none d-sm-block">
                            <a href="https://www.sharecreators.com" class="btn btn-link text-white mb-0">英文版</a>
                            <a href="./free.html" class="btn btn-green-light mb-0 mx-2">免费试用</a>
                            <a href="#" class="btn btn-link text-white mb-0" id="wechart_code">
                                <img src="./assets/images/public/weChat.png" alt="" />
                                <div class="header-wechat-code show">
                                    <img src="./assets/images/public/wechat-code.png" alt="" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- Nav right END -->
                </div>
            </nav>

            <!-- Logo Nav END -->
        </header>
        <!-- =======================
Header END -->

        <!-- **************** MAIN CONTENT START **************** -->
        <main class="support-main">
            <!-- =======================
Hero banner START -->

            <section class="bg-banner position-relative banner">
                <!-- Main navbar START -->
                <div class="collapse navbar-collapse show" id="navbarCollapse"></div>
                <!-- Main navbar END -->
                <!--	main-nav end	-->

                <!--	banner content start	-->
                <div class="container banner-content pt-8 mt-4 banner-text">技术支持</div>
            </section>
            <!-- =======================
Hero banner END -->

            <!-- =======================
Contact START -->
            <section>
                <div class="container">
                    <div class="row g-4">
                        <div class="col-lg-5 ps-lg-3">
                            <div class="row g-4">
                                <div class="col-lg-10">
                                    <div class="shadow p-4 rounded-3 mb-4 recommend">
                                        <!-- Title -->
                                        <div class="fs-6 mb-3" style="color: #000; font-weight: bold">使用产品遇到难题？</div>
                                        <div class="par">
                                            如果您在使用产品时遇到难题，请填写右侧表格，我们将有专业的技术人员在24小时内为您提供帮助
                                        </div>

                                        <button id="demo-video" type="submit" class="btn btn-warning mb-0 send-msg-btn">
                                            查看演示视频
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <!-- Title -->
                            <h3 class="mb-3">申请免费试用</h3>
                            <!-- Form START -->
                            <form class="row g-3" id="form">
                                <input type="text" style="display: none" name="page_name" value="技术支持" />
                                <div class="col-md-6">
                                    <label for="inputName" class="form-label">联系人姓名*</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="user_name"
                                        id="inputName"
                                        data-require="1"
                                        placeholder="请输入联系人姓名"
                                    />
                                </div>
                                <div class="col-md-6">
                                    <label for="inputEmail" class="form-label">联系人邮箱*</label>
                                    <input
                                        type="email"
                                        class="form-control"
                                        data-require="1"
                                        name="from_email"
                                        id="inputEmail"
                                        placeholder="请输入联系人邮箱"
                                    />
                                </div>

                                <div class="col-md-6">
                                    <label for="inputPhonenumber" class="form-label">联系电话</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="user_phone"
                                        id="inputPhonenumber"
                                        placeholder="请输入联系人电话"
                                    />
                                </div>
                                <div class="col-md-6">
                                    <label for="inputCompanyName" class="form-label">企业名称</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="company_name"
                                        id="inputCompanyName"
                                        placeholder="请输入企业名称"
                                    />
                                </div>

                                <div class="col-12">
                                    <label for="exampleFormControlTextarea2" class="form-label">留言*</label>
                                    <textarea
                                        class="form-control"
                                        name="message"
                                        data-require="1"
                                        id="exampleFormControlTextarea2"
                                        rows="3"
                                        placeholder="请输入留言"
                                    ></textarea>
                                </div>

                                <div class="col-12">
                                    <!-- Button -->
                                    <button type="submit" class="btn btn-warning mb-0 send-msg-btn">发送申请</button>
                                </div>
                            </form>
                            <!-- Form END -->
                        </div>
                    </div>
                    <!-- Row END -->
                </div>
            </section>
            <!-- =======================
Contact END -->

            <!-- =======================
Map START -->
            <!-- =======================
Map END -->
        </main>
        <!-- **************** MAIN CONTENT END **************** -->

        <!-- =======================
Footer START  -->
        <footer id="footer" class="bg-black pt-5"></footer>
        <!-- =======================
Footer END  -->

        <!-- Back to top -->
        <div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>
        <!-- =======================
JS libraries, plugins and custom scripts -->

        <!-- Bootstrap JS -->
        <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Vendors -->

        <!-- Template Functions -->
        <script src="assets/js/functions.js"></script>
    </body>

    <script src="./docs/assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/email.min.js"></script>
    <script src="assets/js/apiKeys.js"></script>
    <script src="assets/js/common.js"></script>
    <script>
        $('#navbarCollapse').load('./components/nav.html', function () {
            if (isMobile()) {
                $('#navbarCollapse').removeClass('show')
            }
        })
        $('#footer').load('./components/footer.html')
        $('#demo-video').on('click', function () {
            location.href = 'https://www.ixigua.com/home/361072885505245'
        })

        const form = document.querySelector('#form')
        form.addEventListener('submit', sendEmail)
    </script>
</html>
