<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Logo START -->
        <div class="logo">
            <h1>
                <a class="navbar-brand" href="index.html" title="sharecreators"> sharecreators </a>
            </h1>
        </div>
        <!-- Logo END -->

        <!-- Responsive navbar toggler -->
        <button
            class="navbar-toggler ms-auto"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Nav right START -->
        <div class="d-none d-sm-block">
            <a href="https://www.sharecreators.com" class="btn btn-link text-white mb-0">英文版</a>
            <a href="sign-up.html" class="btn btn-green-light mb-0 mx-2">免费试用</a>
            <a href="https://www.sharecreators.com" class="btn btn-link text-white mb-0">
                <img src="./assets/images/public/weChat.png" alt="" />
            </a>
        </div>
        <!-- Nav right END -->
    </div>
</nav>
