<div class="container pb-3">
  <div class="row pb-5">
    <!-- Title -->
    <h4 class="mb-3 text-center w-100">业界荣誉</h4>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img style="width: 350px" src="./assets/images/public/honor.png" alt="" />
    </div>
    <div class="col-md-8 ps-5 py-sm-2">
      <h6 class="mb-md-4">
        Globee® in the 17th Annual 2022 Information Technology World Awards®
      </h6>
      <ul class="ps-0 pt-3">
        <li class="honor-item py-sm-3">
          <div class="honor-title col">
            · &nbsp; Software Asset Management Tools
          </div>
          <div class="honor-gold col">GOLD GLOBEE® WINNER</div>
        </li>
        <li class="honor-item py-sm-3">
          <div class="honor-title col">
            · &nbsp; New Product-Service of the Year
          </div>
          <div class="honor-gold col">SILVER GLOBEE® WINNER</div>
        </li>
        <li class="honor-item py-sm-3">
          <div class="honor-title col">· &nbsp; Startup of the Year</div>
          <div class="honor-gold col">BRONZE GLOBEE® WINNER</div>
        </li>
      </ul>
    </div>
  </div>
</div>
