<ul class="navbar-nav navbar-nav-scroll mx-auto">
    <!-- Nav item 1 Home -->
    <li class="nav-item">
        <a class="nav-link" href="./index.html" id="homeMenu">首页</a>
    </li>

    <!-- Nav item 2 Company -->
    <li class="nav-item">
        <a class="nav-link" href="./orange.html">智能数字资产管理系统</a>
    </li>

    <!-- Nav item 3 Project -->
    <li class="nav-item">
        <a class="nav-link" href="./passion.html">智能项目管理系统</a>
    </li>

    <!-- Nav item 4 API -->
    <li class="nav-item">
        <a class="nav-link" href="./api.html">API社区生态</a>
    </li>

    <!-- Nav item 5 Service -->
    <li class="nav-item dropdown">
        <a
            class="nav-link dropdown-toggle"
            href="https://sharecreators.io/blog"
            id="aboutMenu"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >动态资讯</a
        >
        <!-- <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            >动态咨询</a
        > -->
        <!-- Dropdown menu -->
        <ul class="dropdown-menu" aria-labelledby="aboutMenu">
            <li><a class="dropdown-item" href="fine-arts.html">游戏美术</a></li>
            <li><a class="dropdown-item" href="https://sharecreators.io/blog">公司动态</a></li>
        </ul>
    </li>

    <!-- Nav item 6 Skills -->
    <li class="nav-item">
        <a class="nav-link" href="./support.html">技术支持</a>
    </li>

    <!-- Nav item 7 About -->
    <li class="nav-item dropdown">
        <a
            class="nav-link dropdown-toggle"
            href="#"
            id="aboutMenu"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >关于我们</a
        >
        <!-- Dropdown menu -->
        <ul class="dropdown-menu" aria-labelledby="aboutMenu">
            <li><a class="dropdown-item" href="about.html">公司介绍</a></li>
            <li><a class="dropdown-item" href="https://www.zhipin.com/gongsi/b1539a4389ba7dc31nd53Ni1GVI~.html?ka=search_rcmd_company_name_b1539a4389ba7dc31nd53Ni1GVI%7E_custompage">加入我们</a></li>
            <li><a class="dropdown-item" href="contact.html">联系我们</a></li>
        </ul>
    </li>
</ul>
