<div class="d-flex g-4 partners row">
    <div class="partner-item shadow col-md-1">
        <img src="./assets/images/fine-arts/partner1.png" alt="" />
    </div>
    <div class="partner-item shadow col-md-1">
        <img src="./assets/images/fine-arts/partner2.png" alt="" />
    </div>
    <div class="partner-item shadow col-md-1">
        <img src="./assets/images/fine-arts/partner3.png" alt="" />
    </div>
    <div class="partner-item shadow col-md-1">
        <img src="./assets/images/fine-arts/partner4.png" alt="" />
    </div>
    <div class="partner-item shadow col-md-1">
        <img src="./assets/images/fine-arts/partner5.png" alt="" />
    </div>
    <div class="partner-item shadow col-md-1">
        <img src="./assets/images/fine-arts/partner6.png" alt="" />
    </div>
    <div class="partner-item shadow col-md-1">
        <img src="./assets/images/fine-arts/partner7.png" alt="" />
    </div>
    <div class="partner-item shadow col-md-1">
        <img src="./assets/images/fine-arts/partner8.png" alt="" />
    </div>
    <div class="partner-item shadow col-md-1">
        <img src="./assets/images/fine-arts/partner9.png" alt="" />
    </div>
    <div class="partner-item shadow col-md-1">
        <img src="./assets/images/fine-arts/partner10.png" alt="" />
    </div>
    <div class="partner-item shadow col-md-1">
        <img src="./assets/images/fine-arts/partner11.png" alt="" />
    </div>
    <div class="partner-item shadow col-md-1">
        <img src="./assets/images/fine-arts/partner12.png" alt="" />
    </div>
    <div class="partner-item shadow col-md-1">
        <img src="./assets/images/fine-arts/partner13.png" alt="" />
    </div>
    <div class="partner-item shadow col-md-1">
        <img src="./assets/images/fine-arts/partner14.png" alt="" />
    </div>
    <div class="partner-item shadow col-md-1">
        <img src="./assets/images/fine-arts/partner15.png" alt="" />
    </div>
</div>
