<div class="d-flex g-4 partners row">
    <div class="partner-item flex-center">
        <img class="partner-img shadow" src="./assets/images/partner/Microsoft.png" alt="" />
    </div>
    <div class="partner-item flex-center">
        <img class="partner-img shadow" src="./assets/images/partner/neteast.png" alt="" />
    </div>
    <div class="partner-item flex-center">
        <img class="partner-img shadow" src="./assets/images/partner/Byte.png" alt="" />
    </div>
    <div class="partner-item flex-center">
        <img class="partner-img shadow" src="./assets/images/partner/Boke.png" alt="" />
    </div>
    <div class="partner-item flex-center">
        <img class="partner-img shadow" src="./assets/images/partner/lilyth.png" alt="" />
    </div>
    <!-- Row END -->
    <div class="partner-item flex-center">
        <img class="partner-img shadow" src="./assets/images/partner/EA.png" alt="" />
    </div>
    <div class="partner-item flex-center">
        <img class="partner-img shadow" src="./assets/images/partner/bun.png" alt="" />
    </div>
    <div class="partner-item flex-center">
        <img class="partner-img shadow" src="./assets/images/partner/app.png" alt="" />
    </div>
    <div class="partner-item flex-center">
        <img class="partner-img shadow" src="./assets/images/partner/tencent.png" alt="" />
    </div>
    <div class="partner-item flex-center">
        <img class="partner-img shadow" src="./assets/images/partner/super.png" alt="" />
    </div>
</div>
